<div class="card" id="card-list-atestados">
	<div class="card-header">
		<div class="col-12 col-lg-12 col-xl-12">
			<div class="row align-items-center">
				<div class="col">
					<div class="card-title">Atestados do Atendimento</div>
				</div>
				<div class="col-auto">
					<th:block sec:authorize="hasAnyAuthority('MEDICO')">
						<button type="button" onclick="exibeFormularioAtestado()" class="btn btn-primary btn-sm">
							<i class="fa fa-plus"></i> Novo atestado
						</button>
					</th:block>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div id="info-atestados">
			<div id="div-atestados">
			</div>
		</div>
	</div>
</div>