<div sec:authorize="hasAnyAuthority('MEDICO')" id="card-nova-prescricao-externa" class="card">
	<div class="card-header">
		<div class="card-title"><a id="nova-prescricao-externa-voltar" data-toggle="tooltipe" data-placement="top"
				title="Voltar para tela anterior" class="btn btn-light"> <i class="fa fa-flip-horizontal fa-share"></i>
			</a> Nova Prescrição Externa</div>
	</div>
	<div class="card-body">
		<div>
			<div id="card-header" class="card-header">
					<div class="card-title">Detalhes da Solicitção</div>
				</div>
			<form id="form-prescricao-externa" action="/atendimento/prescricao-externa" method="post">
				<div class="col-md-12">
					<div id="card-prescricao-administracao"></div>
				</div>
				
				<div class="col-md-12">
					<div class="form-group">
						<label for="nomeProfissional">Nome do Profissional*</label>
						<textarea class="form-control" name="nomeProfissional"
							id="nomeProfissional" placeholder=""></textarea>
						<small id="nomeProfissional-small" class="form-text text-muted"></small>
					</div>
				</div>
				
				<div class="col-md-12">
					<div class="form-group">
						<label for="nomeEstabelecimento">Nome do Estabelecimento*</label>
						<textarea class="form-control" name="nomeEstabelecimento"
							id="nomeEstabelecimento" placeholder=""></textarea>
						<small id="nomeEstabelecimento-small" class="form-text text-muted"></small>
					</div>
				</div>
				
				<div class="text-right">
					<button id="submit-prescricao-externa" type="submit" class="btn btn-primary btn-sm">Salvar</button>
<!-- 					<button type="button" onclick="fechaFormularioNovoRegistro()" -->
<!-- 						class="btn btn-warning btn-border btn-sm"> -->
<!-- 						Cancelar</button> -->
				</div>
			</form>
		</div>
	</div>
</div>