<div class='card'>
	<div class='card-body'>
		<div class='col-md-12 row'>
			<div class='col-md-7'>
				<h5 class='text-uppercase fw-bold mb-1'>FRANCISCO LEANDRO DE MORAIS PINTO</h5><i class='fa fa-id-card'
					aria-hidden='true'></i><strong> CPF:
				</strong><span data-mask='000.000.000-00'>098.143.544-06</span> | <strong> CNS:
				</strong><span data-mask='000.0000.0000.0000'>700.4020.9350.1644</span><br><strong>NASC.
				</strong><span>20/06/1994</span> | <span> 27 anos e 3 meses
				</span><br>
				<strong>SEXO:
				</strong><span> Masculino
				</span>
			</div>
			<div class='col-md-5'>
				<span class='badge badge-danger'>VERMELHO</span><br>
				<strong>P.A:
				</strong><span class='text-warning'> 130/10 hmmGt</span>
				<strong>SPO2:
				</strong><span class='text-warning'> 98 %</span>
				<strong>TEMP:
				</strong><span class='text-warning'> 35 %</span><br>
				<strong>HGT:
				</strong><span class='text-warning'>120 mm </span><span class='text-danger'><i class='fa fa-heart'
						aria-hidden='true'></i> 100 bpm</span>
			</div>
		</div>
	</div>
</div>