<div sec:authorize="hasAnyAuthority('MEDICO')" id="card-novo-exame" class="card">
	<div class="card-header">
		<div class="card-title">
			<a id="novo-exame-voltar" data-toggle="tooltipe" data-placement="top" title="Voltar para tela anterior"
				class="btn btn-light"> <i class="fa fa-flip-horizontal fa-share"></i>
			</a>Nova solicitação de Exame(s)
		</div>
	</div>
	<div class="card-body">
		<div>
			<form id="form-exame" action="/atendimento/exame" method="post">
				<div class="row">

					<div class="col-md-12">
						<div class="form-group">
							<label for="procedimento-exame">Adicionar Procedimento*</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<button id="button-procedimento" type="button" class="btn btn-black btn-border">
										<i id="i-procedimento" class="fa fa-search"></i>
									</button>
								</div>
								<input id="procedimento-exame" type="text" class="form-control"
									placeholder="Pesquisa de procedimentos"> <input type="hidden"
									id="id-procedimento-exame" name="procedimento">
							</div>
							<small id="cid-small-procedimento" class="form-text text-muted">Use a pesquisa de
								procedimentos para adicionar o(s) procedimento(s) a esta solicitação ou <a href="#"
									id="listaExameSimplificada" class="text-info">use a
									lista
									simplificada</a></small>
						</div>
					</div>

					<div class="col-md-12 mt-3">
						<div class="card-sub">Procedimentos solicitados:</div>
						<div id="div-table-procedimentos-exame" class="table-responsive">
							<table id="table-procedimentos-exame" class="display table table-hover dataTable"
								role="grid" aria-describedby="basic-datatables_info" style="width: 100%">
								<thead>
									<tr role="row">
										<th></th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr role="row" class="odd">
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label for="exame-cid">Adicionar CID Relacionado</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<button id="button-exame-cid" type="button" class="btn btn-black btn-border">
										<i id="i-exame-cid" class="fa fa-search"></i>
									</button>
								</div>
								<input id="exame-cid" type="text" class="form-control" placeholder="Pesquisa de Cid">
								<input type="hidden" id="id-cid" name="cid">
							</div>
							<small id="cid-small-exame" class="form-text text-muted">Selecione
								o CID para adicionar ao Exame</small>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label for="justificativa">Justificativa do
								Procedimento*</label>
							<textarea class="form-control" name="justificativa" id="justificativa"
								placeholder=""></textarea>
							<small id="justificativa-small" class="form-text text-muted"></small>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label for="observacoes">Observações</label>
							<textarea class="form-control" name="observacoes" id="observacoes"
								placeholder=""></textarea>
							<small id="observacoes-small" class="form-text text-muted"></small>
						</div>
					</div>

				</div>
				<div class="text-right">
					<button id="submit-exame" type="submit" class="btn btn-primary btn-sm">Salvar</button>
					<button onclick="fechaFormularioExame()" type="button"
						class="btn btn-warning btn-sm">Cancelar</button>
				</div>
			</form>
		</div>
		<!-- Modal Exibe Resultado de Exame -->
		<div class="modal fade" id="modalListaSimplificada" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalCenterListaSimplicada" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalListaSimplificada">Solicitação de Exames</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div id="modal-body" class="modal-body">

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>