<div class="card">
	<div class="card-header">
		<div class="card-title">Finalização do Atendimento</div>
	</div>
	<div class="card-body">
		<form id="form-finalizar-atendimento" action="/atendimento/finalizar" method="post">
			<div class="form-check form-check-inline">
				<div class="custom-control custom-radio">
					<input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked>
					<label class="custom-control-label" for="customRadio1">Adicionar a Lista de
						Atendimentos</label>
				</div>
				<div class="custom-control custom-radio">
					<input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
					<label class="custom-control-label" for="customRadio2">Informar
						conduta</label>
				</div>
			</div>
			<div class="col-md-12" id="adicionar-a-lista">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="atendimento-profissionalDestino">Profissional
								de Destino:</label><select name="atendimento.profissionalDestino"
								id="atendimento-profissionalDestino" class="form-control form-control">
								<option th:each="profissional : ${profissionais}" th:value="${profissional.id}"
									th:text="${profissional.nome}">
								</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-check">
							<label>Selecione o(s) serviço(s) para
								este
								atendimento:</label><br>
							<th:block th:each="tipoServico : ${tipoServicos}">
								<div class="custom-control custom-checkbox" th:if="${tipoServico.nome} != 'Inativo'">
									<input th:field="*{atendimento.tipoServicos}" th:value="${tipoServico.id}"
										type="checkbox" class="custom-control-input" th:id="${tipoServico.id}">
									<label class="custom-control-label" th:for="${tipoServico.id}"
										th:text="${tipoServico.nome}"></label>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</div>
			<div class="form-check" id="conduta-cidadao">
				<label>Conduta do Cidadão:</label>
				<div class="col-md-10 col-lg-10">
					<div class="row">
						<th:block th:each="condutaCidadao : ${condutasCidadao}">
							<label th:for="${condutaCidadao}"
								th:if="${condutaCidadao.nome != 'Observação' && condutaCidadao.nome != 'Alta após prescrição' && condutaCidadao.nome != 'Alta do episódio'}"
								class="form-radio-label" data-toggle="tooltip" th:title="${condutaCidadao.descricao}">
								<input th:id="${condutaCidadao}" th:value="${condutaCidadao}"
									name="atendimento.condutaCidadao" class="form-radio-input" type="radio"><span
									class="form-radio-sign" th:text="${condutaCidadao.nome}"></span>
							</label>
						</th:block>
					</div>
				</div>
			</div>
			<div class="card-action">
				<button type="submit" class="btn btn-primary">Finalizar Atendimento</button>
				<button type="button" class="btn btn-warning btn-border">Cancelar</button>
			</div>
		</form>
	</div>
</div>