<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>

<body>
	<div class="card" id="card-info-prescricoes">
		<div id="card-header" class="card-header">
			<div class="card-title">Prescrições do
				Atendimento</div>
		</div>
		<div class="card-body">
			<div id="info-prescricoes">
				<div id="div-prescricoes"></div>
				<div sec:authorize="hasAnyAuthority('MEDICO')" id="div-button-nova-prescricao"
					class="text-right">
					<button type="button" onclick="exibeFormularioPrescricao()" class="btn btn-primary btn-sm">
						<i class="fa fa-plus"></i> Nova
						prescrição
					</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>