<div id="div-form-consulta">
	<form id="form-consulta" method="post" action="/consulta/">

		<input id="id-prontuario" type="hidden" th:value="${atendimento.cidadao.prontuario.id}">
		<input id="id-atendimento" type="hidden" th:value="${atendimento.id}">
		<input id="inicioConsulta" type="hidden">
		<input type="hidden" id="idConsulta">
		<input type="hidden" id="idAvaliacao">
		<input type="hidden" id="idSinaisVitais">
		<span id="nome-usuario" hidden="true" th:text="${user.username}"></span>

		<div sec:authorize="hasAnyAuthority('MEDICO')">
			<div class="card mt-3">
				<div class="card-header">
					<div class="card-title">Sumário da
						história
						clínica</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12 col-lg-12">
							<div class="form-group">
								<textarea class="form-control" name="historiaClinica" id="historia-clinica"></textarea>
								<small id="historia-clinica-small" class="form-text text-muted">Queixa
									principal,
									tratamento, história
									atual da doença,
									história pessoal e
									familiar</small>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card mt-3">
				<div class="card-header">
					<div class="card-title">Avaliação
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12 col-lg-12">
							<div class="form-group">
								<textarea class="form-control" name="avaliacao" id="avaliacao"></textarea>
								<small id="avaliacao-small" class="form-text text-muted">Digite
									na área
									de texto acima as
									observações que
									achar
									necessário</small>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card mt-3">
				<div class="card-header">
					<div class="card-title">Sinais Vitais
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-12 col-lg-12">
								<div th:replace="fragments/sinaisVitais/form-sinais-vitais">
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="card mt-3">
				<div class="card-header">
					<div class="card-title">Conduta terapêutica
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-12 col-lg-12">
								<div class="form-group">
									<textarea class="form-control" name="conduta" id="conduta"></textarea>
									<small id="conduta-small" class="form-text text-muted">Digite
										na área
										de texto acima a(s) conduta(s) terapêutica(s) adotada(s)</small>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="card mt-3">
				<div class="card-header">
					<div class="card-title">Diagnóstico
					</div>
				</div>
				<div class="card-body">
					<div class="col-md-12 col-lg-12">
						<div class="form-group">
							<textarea class="form-control" name="diagnostico" id="diagnostico"></textarea>
							<small id="diagnostico-small" class="form-text text-muted">Diagnóstico</small>
						</div>
					</div>
					<div class="col-md-12 col-lg-12">
						<div class="form-group">
							<input class="form-control" type="text" name="cids" id="cids">
							<small id="cids-small" class="form-text text-muted">CID(S) associado(s)</small>
						</div>
					</div>
				</div>
			</div>
			<div id="card-action" class="card-action">

			</div>
		</div>

	</form>
</div>