<div class="mt-2">
	<p class="info-triagem-titulo">Condições de saúde do cidadão</p>
	<hr class="info">
	<div class="mt-3">

		<div th:replace="fragments/triagem/card-list-alergias">
		</div>
		<div th:replace="fragments/triagem/card-nova-alergia">
		</div>
		<div th:replace="fragments/triagem/card-edit-alergia">
		</div>
		<div th:replace="fragments/triagem/card-list-doencas">
		</div>
		<div th:replace="fragments/triagem/card-nova-doenca">
		</div>
		<div th:replace="fragments/triagem/card-edit-doenca">
		</div>
	</div>
</div>

<div class="mt-2">
	<p class="info-triagem-titulo">Medicamentos</p>
	<hr class="info">
	<div class="mt-3">
		<div th:replace="fragments/usoMedicamentos/card-medicamento">
		</div>
	</div>
</div>

<div class="mt-2">
	<p class="info-triagem-titulo">Antropometria</p>
	<hr class="info">
	<div class="mt-3">
		<div th:replace="fragments/antropometria/card-antropometria">
		</div>
	</div>
</div>