<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-admin}" lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<body>
	<div class="main-panel" layout:fragment="main-panel">
		<div class="container">
			<div class="page-inner">

				<!-- DIV de Alerta de Sucessos -->
				<div class="col-md-12" th:if="${sucesso}">
					<div class="alert alert-success alert-dismissible fade show"
						role="alert">
						<strong>Sucesso!</strong><a th:text="${sucesso}"></a>
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>

				<!-- DIV de Alerta de Erros -->
				<div class="col-md-12" th:if="${erro}">
					<div class="alert alert-danger alert-dismissible fade show"
						role="alert">
						<strong>Erro!</strong> <a th:text="${erro}"></a>
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
				<div class="page-header">
					<h4 class="page-title">Administração</h4>
					<ul class="breadcrumbs">
						<li class="nav-home"><i class="flaticon-home"></i></li>
						<li class="separator"><i class="flaticon-right-arrow"></i></li>
						<li class="nav-item"><a th:href="@{#}">Consultas</a></li>
						<li class="separator"><i class="flaticon-right-arrow"></i></li>
						<li class="nav-item"><a
							th:href="@{/administracao/buscar-cidadaos}">Cidadãos</a></li>
					</ul>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-title">Consultar Cidadãos</div>
							</div>

							<div class="card-body">
								<!-- Botões para escolha do Parâmetro de Pesquisa -->
								<div class="form-group">
									<strong class="form-text text-muted">Escolha o
										parâmetro de pesquisa:
										<button class="btn btn-primary btn-xs" id="pesquisa-cns">
											<i class="fa fa-filter"></i> CNS
										</button>
										<button class="btn btn-primary btn-border btn-xs"
											id="pesquisa-cpf">
											<i class="fa fa-filter"></i> CPF
										</button>
										<button class="btn btn-primary btn-border btn-xs"
											id="pesquisa-nome">
											<i class="fa fa-filter"></i> NOME
										</button>
									</strong>
								</div>
								<hr>
								<!-- Fim dos Botões para escolha do Parâmetro de Pesquisa -->
								<!-- Formulário para pesquisa por CNS -->
								<form th:action="@{/administracao/buscar-cidadao-cns}" method="get">
									<div class="row" id="form-pesquisa-cns">
										<div class="col-md-4">
											<div class="form-group">
												<label for="cns">CNS</label> <input name="cns" type="text"
													class="form-control" id="cns"><small
													id="small-data" class="form-text text-muted">Digite
													o CNS do Cidadão sem pontos, traços ou barras</small>
											</div>
										</div>
										<div class="col-md-2 ">
											<div class="form-group">
												<label for="search">Pesquisar</label>
												<div>
													<button type="submit" id="button-pesquisa-cns"
														class="btn btn-icon btn-round btn-primary">
														<i id="fa-button" class="fa fa-search"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</form>
								<!--Fim do Formulário para pesquisa por CNS -->

								<!-- Formulário para pesquisa por CPF -->
								<form th:action="@{/administracao/buscar-cidadao-cpf}" method="get">
									<div class="row" id="form-pesquisa-cpf">
										<div class="col-md-4">
											<div class="form-group">
												<label for="cpf">CPF</label> <input name="cpf" type="text"
													class="form-control" id="cpf"><small id="small-cpf"
													class="form-text text-muted">Digite o CPF do
													Cidadão sem pontos, traços ou barras.</small>
											</div>
										</div>
										<div class="col-md-2 ">
											<div class="form-group">
												<label for="search">Pesquisar</label>
												<div>
													<button type="submit" id="button-pesquisaperiodo"
														class="btn btn-icon btn-round btn-primary">
														<i id="fa-button" class="fa fa-search"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</form>
								<!--Fim do Formulário para pesquisa por CPF -->
								
								<!-- Formulário para pesquisa por NOME -->
								<form th:action="@{/administracao/buscar-cidadao-nome}" method="get">
									<div class="row" id="form-pesquisa-nome">
										<div class="col-md-6">
											<div class="form-group">
												<label for="nome">NOME</label> <input name="nome" type="text"
													class="form-control" id="nome"><small id="small-nome"
													class="form-text text-muted">Digite o nome do Cidadão </small>
											</div>
										</div>
										<div class="col-md-2 ">
											<div class="form-group">
												<label for="search">Pesquisar</label>
												<div>
													<button type="submit" id="button-pesquisaperiodo"
														class="btn btn-icon btn-round btn-primary">
														<i id="fa-button" class="fa fa-search"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</form>
								<!--Fim do Formulário para pesquisa por NOME -->
								<hr>

								<div class="form-group">
									<strong class="form-text text-muted">Listagem dos Cidadãos: </strong>
								</div>
								<div class="table-responsive">
									<table id="basic-datatables"
										class="display table table table-hover">
										<thead>
											<tr>
												<th>NOME DO CIDADÃO</th>
												<th>CNS</th>
												<th>CPF</th>
												<th>AÇÕES</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td th:text="${cidadao.nome}"></td>
												<td th:text="${cidadao.cns}"></td>
												<td th:text="${cidadao.cpf}"></td>
												<td><a class="btn btn-primary btn-sm"
													th:href="@{/administracao/cidadao-detalhe/{id} (id = ${cidadao.id})}">Detalhes</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container-fluid">
			<nav class="pull-left">
				<th:block th:each="estabelecimento : ${estabelecimento}">
					<span class="text-primary" th:text="${estabelecimento.nome}"></span>
				</th:block>
			</nav>
			<div class="copyright ml-auto">Sistema de Gestão Hospitalar,
				2020.</div>
		</div>
	</footer>
</body>

</html>