<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-modulos}" lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<body>
	<div class="main-panel" layout:fragment="main-panel">
		<div class="container">
			<div class="page-inner">
				<div class="row">
					<div class="col-12 col-lg-12 col-xl-12">
						<div th:replace="/fragments/alertas/alertas::success"></div>
						<div th:replace="/fragments/alertas/alertas::error"></div>
						<div class="row align-items-center">
							<div class="col">
								<div class="page-header">
									<h4 class="page-title">Cidadão</h4>
									<ul class="breadcrumbs">
										<li class="separator"></li>
										<li class="nav-item"><a>Detalhes</a></li>
									</ul>
								</div>
							</div>
							<div class="col-auto">
								<a href="#" id="editar" class="btn btn-primary ml-2">
									<i class="fa fa-edit"></i> Editar
								</a>
								<a th:href="@{/relatorio/cidadao/{id} (id = ${cidadao.id})}" target="_blank"
									class="btn btn-light btn-border">
									<i class="fa fa-print"></i> Imprimir
								</a>
							</div>
						</div>
						<div class="page-divider"></div>
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">Dados do Cidadão</h4>
									</div>
									<div th:replace="fragments/cidadao/detalhe"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer-layout"></div>
	</div>
	<th:block layout:fragment="my-js-files">
		<script th:src="@{/assets/js/cidadao/detalhe.js}"></script>
		<script th:src="@{/assets/js/cidadao/form-base.js}"></script>
	</th:block>
</body>

</html>