<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-admin}" lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<body>
	<div class="main-panel" layout:fragment="main-panel">
		<div class="container">
			<div class="page-inner">

				<!-- DIV de Alerta de Sucessos -->
				<div class="col-md-12" th:if="${sucesso}">
					<div class="alert alert-success alert-dismissible fade show"
						role="alert">
						<strong>Sucesso!</strong><a th:text="${sucesso}"></a>
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>

				<!-- DIV de Alerta de Erros -->
				<div class="col-md-12" th:if="${erro}">
					<div class="alert alert-danger alert-dismissible fade show"
						role="alert">
						<strong>Erro!</strong> <a th:text="${erro}"></a>
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
				<div class="page-header">
					<h4 class="page-title">Administração</h4>
					<ul class="breadcrumbs">
						<li class="nav-home"><i class="flaticon-home"></i></li>
						<li class="separator"><i class="flaticon-right-arrow"></i></li>
						<li class="nav-item"><a th:href="@{#}">Consultas</a></li>
						<li class="separator"><i class="flaticon-right-arrow"></i></li>
						<li class="nav-item"><a
							th:href="@{/administracao/buscar-cidadaos}">Cidadãos</a></li>
						<li class="separator"><i class="flaticon-right-arrow"></i></li>
						<li class="nav-item"><a th:href="@{#}">Detalhe do Cidadão</a></li>
					</ul>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-title">Detalhe do Cidadão</div>
							</div>
							<div class="card-body">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="avatar avatar-lg">
												<img th:if="${cidadao.sexo == 'M'}"
													th:src="@{/assets/img/icons/masculino.png}" alt="..."
													class="avatar-img rounded-circle"> <img
													th:if="${cidadao.sexo == 'F'}"
													th:src="@{/assets/img/icons/feminino.png}" alt="..."
													class="avatar-img rounded-circle">
											</div>
											<div class="demo">
												<span class="h3-info" th:text="${cidadao.nome}"></span><br>
												<div class="h4-info">
													<span th:text="${cidadao.idade}"></span><span> anos,</span><span
														th:if="${cidadao.sexo == 'M'}"> masculino.</span><span
														th:if="${cidadao.sexo == 'F'}"> feminino.</span>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-body">
									<p class="info-triagem-titulo">Documentação</p>
									<hr class="info">
									<strong>CNS: </strong>
									<p th:text="${cidadao.cns}"></p>
									<strong>CPF: </strong>
									<p th:text="${cidadao.cpf}"></p>
									<p class="info-triagem-titulo">Dados pessoais</p>
									<hr class="info">
									<strong>NOME DA MÃE: </strong>
									<p th:text="${cidadao.nomemae}"></p>
									<strong>NOME DO PAI: </strong>
									<p th:text="${cidadao.nomepai}"></p>
									<strong>DATA DE NASCIMENTO: </strong>
									<p th:text="${cidadao.datanascimento}"></p>
									<p class="info-triagem-titulo">Endereço</p>
									<hr class="info">
									<strong>ENDEREÇO: </strong>
									<p th:text="${cidadao.endereco}"></p>
									<strong>COMPLEMENTO: </strong>
									<p th:text="${cidadao.complementoendereco}"></p>
									<strong>BAIRRO: </strong>
									<p th:text="${cidadao.bairro}"></p>
									<strong>NÚMERO: </strong>
									<p th:text="${cidadao.numeroendereco}"></p>
									<p class="info-triagem-titulo">Dados de Contato</p>
									<hr class="info">
									<strong>TELEFONE: </strong>
									<p th:text="${cidadao.telefone}"></p>
									<strong>EMAIL: </strong>
									<p th:text="${cidadao.email}"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>