<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-modulos}" lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<body>
	<div class="main-panel" layout:fragment="main-panel">
		<div class="container">
			<div class="page-inner">
				<div class="page-header">
					<h4 class="page-title">Dados do Cidadão</h4>
					<ul class="breadcrumbs">
						<li class="nav-home"><a
							th:href="@{/recepcao/adicionar-cidadao}"><i
								class="flaticon-home"></i></a></li>
						<li class="separator"><i class="flaticon-right-arrow"></i></li>
						<li class="nav-item"><a th:href="@{/}">Cidadão</a></li>
						<li class="separator"><i class="flaticon-right-arrow"></i></li>
						<li class="nav-item"><a>Dados do Cidadão</a></li>
					</ul>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Dados do Cidadão</h4>
							</div>
							<div class="card-body">
								<div class="container">
									<div class="page-inner">
										<div class="row justify-content-center">
											<div class="col-md-12 col-lg-12 col-xl-12">
												<div class="row align-items-center">
													<div class="col">
														<h6 class="page-pretitle">Cidadão</h6>
														<h4 class="page-title">
															Número do CPF: <span th:text="${cidadao.cpf}"></span>
														</h4>
													</div>
													<div class="col-auto">
														<a href="#" class="btn btn-light btn-border"><i
															class="fa fa-print"></i> Imprimir</a>
													</div>
												</div>
												<div class="page-divider"></div>
												<div class="row">
													<div class="col-md-12">
														<div class="card card-invoice">
															<div class="card-body">
																<br>
																<div class="row"></div>
																<div class="row">
																	<div class="col-md-12">
																		<div class="invoice-detail">
																			<div class="invoice-top">
																				<h3 class="title">
																					<strong>Dados do Cidadão</strong>
																				</h3>
																			</div>
																			<div class="invoice-item"></div>
																		</div>
																		<div class="separator-solid  mb-3"></div>
																	</div>
																</div>
															</div>
															<div class="card-footer">
																<div class="row">
																	<div class="col-sm-6 col-md-6 mb-3 mb-md-0 transfer-to">
																		<div class="account-transfer">
																			<div>
																				<span>NOME:</span><span th:text="${cidadao.nome}"></span>
																			</div>
																			<div>
																				<span>DT. NASCIMENTO:</span><span
																					th:text="${#temporals.format(cidadao.dataNascimento, 'dd/MM/yyyy')}"></span>
																			</div>
																			<div>
																				<span>SEXO: </span><span th:text="${cidadao.sexo}"></span>
																			</div>
																			<div>
																				<span>CNS:</span><span
																					data-mask="000.0000.0000.0000"
																					th:text="${cidadao.cns}"></span>
																			</div>
																			<div>
																				<span>CPF:</span><span data-mask="000.000.000-00"
																					th:text="${cidadao.cpf}"></span>
																			</div>
																			<div>
																				<span>NOME DA MÃE:</span><span
																					th:text="${cidadao.nomeMae}"></span>
																			</div>
																			<div>
																				<span>NOME DO PAI:</span><span
																					th:text="${cidadao.nomePai}"></span>
																			</div>

																			<div class="separator-solid"></div>
																			<div>
																				<span>ENDEREÇO:</span><span
																					th:text="${cidadao.endereco.enderecoCompleto}"></span>
																			</div>
																			<div>
																				<span>CEP:</span><span data-mask="00000-000"
																					th:text="${cidadao.endereco.cep}"></span>
																			</div>
																			<div>
																				<span>TELEFONE:</span><span
																					th:text="${cidadao.telefone}"></span>
																			</div>
																			<div>
																				<span>EMAIL:</span><span th:text="${cidadao.email}"></span>
																			</div>
																			<div class="separator-solid"></div>
																		</div>
																	</div>

																	<div class="col-sm-6 col-md-6 mb-3 mb-md-0 transfer-to">
																		<div class="account-transfer">
																			<div>
																				<span>RAÇA:</span><span
																					th:text="${cidadao.codigoRaca.descricao}"></span>
																			</div>
																			<div>
																				<span>NATURALIDADE: </span><span
																					th:text="${cidadao.municipioNascimento.nomeMunicipioSiglaUF}"></span>
																			</div>
																			<div class="separator-solid"></div>
																		</div>
																	</div>
																</div>
																<div class="separator-solid"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="card-action">
								<a th:href="@{/cidadao/editar/{id} (id=${cidadao.id})}"
									class="btn btn-primary"><i class="fa fa-pen"></i> Editar</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer-layout"></div>
	</div>
</body>
</html>