<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-modulos}" lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<body>
	<div class="main-panel" layout:fragment="main-panel">
		<div class="container">
			<div class="page-inner">
				<div th:replace="fragments/alertas/alertas::success"></div>
				<div class="alert alert-danger alert-dismissible" role="alert"
					th:if="${#fields.hasErrors('${cidadao.*}')}">
					<div id="hasErrors" hidden="true" th:text="${#fields.hasErrors('${cidadao.*}')}"></div>

					<button type="button" class="close" data-dismiss="alert">
						<span aria-hidden="true">&times;</span>
					</button>
					<th:block th:each="detailedError : ${#fields.detailedErrors('${cidadao.*}')}">
						<div>
							<i class="fa fa-exclamation-circle"></i>&nbsp;[[${detailedError.message}]].
						</div>
					</th:block>
				</div>
				<div class="page-header">
					<h4 class="page-title">Cidadão</h4>
					<ul class="breadcrumbs">
						<li class="separator"></li>
						<li class="nav-item"><a>Adicionar
								Cidadão</a></li>

					</ul>
				</div>
				<div class="row">
					<div class="col-md-12 col-lg-12">
						<div th:replace="fragments/cidadao/card-pesquisa">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<!-- Formulário para preenchimento dos dados do Cidadão -->
						<div th:replace="fragments/cidadao/div-form">
						</div>

						<div th:replace="fragments/cidadao/div-info">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer-layout"></div>
	</div>

	<th:block layout:fragment="my-js-files">
		<script th:src="@{/assets/js/cidadao/form.js}"></script>
		<script th:src="@{/assets/js/cidadao/form-base.js}"></script>
	</th:block>
</body>

</html>