<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-modulos}" lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<body>
	<div class="main-panel" layout:fragment="main-panel">
		<div class="container">
			<div class="page-inner">
				<div id="alert"></div>
				<div class="page-header">
					<h4 class="page-title">Triagem</h4>
				</div>
				<div class="card">
					<div class="card-body">
						<div class="page-inner">
							<div class="row justify-content-center">
								<div class="col-md-12 col-lg-12 col-xl-12">
									<div class="page-divider"></div>
									<div class="card">
										<div class="card-body">
											<div class="row">
												<div class="avatar avatar-lg">
													<img th:if="${atendimento.cidadao.sexo == 'M'}"
														th:src="@{/assets/img/icons/masculino.png}" alt="..."
														class="avatar-img rounded-circle"> <img
														th:if="${atendimento.cidadao.sexo == 'F'}"
														th:src="@{/assets/img/icons/feminino.png}" alt="..."
														class="avatar-img rounded-circle">
												</div>
												<div class="demo">
													<span class="h3-info"
														th:text="${atendimento.cidadao.nome}"></span><br>
													<div class="h4-info">
														<input type="hidden" id="cpfCidadao"
															th:value="${atendimento.cidadao.cpf}"> <input type="hidden"
															id="dataNascimentoCidadao"
															th:value="${atendimento.cidadao.dataNascimento}"><i
															class="fa fa-id-card"></i> <strong>CPF: </strong><span
															data-mask="000.000.000-00"
															th:text="${atendimento.cidadao.cpf}"></span> | <strong>CNS:
														</strong> <span data-mask="000.0000.0000.0000"
															th:text="${atendimento.cidadao.cns}"></span><br>
														<strong>SEXO:</strong>
														<span th:if="${atendimento.cidadao.sexo == 'M'}"> M</span><span
															th:if="${atendimento.cidadao.sexo == 'F'}"> F</span><i></i>
														| <strong>NASC.:</strong><span
															th:text="${#temporals.format(atendimento.cidadao.dataNascimento,'dd/MM/yyyy')}"></span>
														| <strong>IDADE:</strong><span id="idadeCidadao"></span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<input id="id-prontuario" type="hidden"
										th:value="${triagem.atendimento.cidadao.prontuario.id}">
									<input id="id-atendimento" type="hidden" th:value="${triagem.atendimento.id}">
									<div class="row">
										<div class="col-sm-3 col-md-2 col-lg-2">
											<div class="nav flex-column nav-pills nav-secondary nav-pills-no-bd"
												id="v-pills-tab" role="tablist" aria-orientation="vertical">
												<a class="nav-link active" id="v-pills-triagem-tab-nobd"
													data-toggle="pill" href="#v-pills-triagem-nobd" role="tab"
													aria-controls="v-pills-triagem-nobd"
													aria-selected="true"><strong>TRIAGEM</strong></a>
												<a class="nav-link" id="v-pills-finalizar-tab-nobd" data-toggle="pill"
													href="#v-pills-finalizar-nobd" role="tab"
													aria-controls="v-pills-finalizar-nobd"
													aria-selected="false"><strong>FINALIZAR</strong></a>
											</div>
										</div>
										<div class="col-sm-9 col-md-10 col-lg-10">
											<div class="tab-content" id="v-pills-tabContent">
												<div class="tab-pane fade show active" id="v-pills-triagem-nobd"
													role="tabpanel" aria-labelledby="v-pills-triagem-tab-nobd">

													<ul class="nav nav-tabs">
														<li class="nav-item submenu"><a class="nav-link active show"
																data-toggle="tab"
																href="#home"><strong>ATENDIMENTO</strong></a></li>
														<li class="nav-item submenu"><a class="nav-link"
																data-toggle="tab"
																href="#menu1"><strong>PROCEDIMENTOS</strong></a></li>
														<li class="nav-item submenu"><a class="nav-link"
																data-toggle="tab"
																href="#menu2"><strong>ALERGIAS</strong></a></li>
														<li class="nav-item submenu"><a class="nav-link"
																data-toggle="tab"
																href="#menu3"><strong>DOENÇAS</strong></a></li>
														<li class="nav-item submenu"><a class="nav-link"
																data-toggle="tab"
																href="#menu4"><strong>MEDICAMENTOS</strong></a></li>
														<li class="nav-item submenu"><a class="nav-link"
																data-toggle="tab"
																href="#menu5"><strong>ANTROPOMETRIA</strong></a></li>
													</ul>

													<div class="tab-content">
														<div id="home" class="tab-pane fade show active">
															<div th:replace="fragments/triagem/div-form-triagem">
															</div>
														</div>
														<div id="menu1" class="tab-pane fade">
															<div th:replace="fragments/procedimento/card-procedimento">
															</div>
														</div>
														<div id="menu2" class="tab-pane fade">
															<div th:replace="fragments/triagem/card-list-alergias">
															</div>
															<div th:replace="fragments/triagem/card-nova-alergia">
															</div>
															<div th:replace="fragments/triagem/card-edit-alergia">
															</div>

														</div>
														<div id="menu3" class="tab-pane fade">
															<div th:replace="fragments/triagem/card-list-doencas">
															</div>
															<div th:replace="fragments/triagem/card-nova-doenca">
															</div>
															<div th:replace="fragments/triagem/card-edit-doenca">
															</div>
														</div>
														<div id="menu4" class="tab-pane fade">
															<div th:replace="fragments/triagem/card-medicamento">
															</div>
														</div>
														<div id="menu5" class="tab-pane fade">
															<div th:replace="fragments/triagem/card-antropometria">
															</div>
														</div>
													</div>
												</div>

												<div class="tab-pane fade" id="v-pills-finalizar-nobd" role="tabpanel"
													aria-labelledby="v-pills-finalizar-tab-nobd">
													<div th:replace="fragments/atendimento/card-finalizar-atendimento">
													</div>
												</div>

											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
		<div th:replace="fragments/footer :: footer-layout"></div>
	</div>

	<th:block layout:fragment="my-js-files">
		<script type="text/javascript" th:inline="javascript" th:src="@{/assets/js/triagem/form-triagem.js}"></script>
		<script type="text/javascript" th:inline="javascript"
			th:src="@{/assets/js/triagem/form-triagem-doenca.js}"></script>
		<script type="text/javascript" th:inline="javascript"
			th:src="@{/assets/js/triagem/form-triagem-alergia.js}"></script>
		<script type="text/javascript" th:inline="javascript"
			th:src="@{/assets/js/procedimento/procedimento.js}"></script>
		<script type="text/javascript" th:inline="javascript"
			th:src="@{/assets/js/triagem/form-triagem-antropometria.js}"></script>
		<script type="text/javascript" th:inline="javascript"
			th:src="@{/assets/js/atendimento/card-finalizar-atendimento.js}"></script>

	</th:block>
</body>

</html>