<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-modulos}" lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<body>
	<!-- Sidebar Módulos - Recepção -->
	<div layout:fragment="sidebar" class="sidebar sidebar-style-2">
		<div class="sidebar-wrapper scrollbar scrollbar-inner">
			<div class="sidebar-content">
				<ul class="nav nav-primary">
					<li class="nav-item"><a data-toggle="collapse"
						href="#dashboard" class="collapsed" aria-expanded="false"> <img
							alt="" width="40" th:src="@{/assets/img/person-male.png}">
							<span th:text="${user.firstname}" class="low"></span><span
							class="type-user" th:text="${user.tipoprofissional}"></span> <span class="caret"></span>
					</a>
						<div class="collapse" id="dashboard">
							<ul class="nav nav-collapse">
								<li><a href="../demo1/index.html"> <span
										class="sub-item">Meu Perfil</span>
								</a></li>
							</ul>
						</div></li>
					<li class="nav-section"><span class="sidebar-mini-icon">
							<i class="fa fa-ellipsis-h"></i>
					</span>
						<h4 class="text-section">Ações</h4></li>
					<li class="nav-item" th:classappend="${navItem1} ? active : ''"><a
						th:href="@{/triagem/cidadaos-atendimento}"> <i
							class="fas fa-users"></i>
							<p>Fila de Atendimento</p> <span class="caret"></span>
					</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- End Sidebar -->
	<div class="main-panel" layout:fragment="main-panel">
		<div class="container">
			<div class="page-inner">
				<div class="page-header">
					<h4 class="page-title">Triagem</h4>
					<ul class="breadcrumbs">
						<li class="nav-home"><a
							th:href="@{/triagem/cidadaos-atendimento}"><i
								class="flaticon-home"></i></a></li>
						<li class="separator"><i class="flaticon-right-arrow"></i></li>
						<li class="nav-item"><a
							th:href="@{/triagem/cidadaos-atendimento}">Fila de
								Atendimento</a></li>

					</ul>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Fila de Atendimento</h4>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table id="basic-datatables"
										class="display table table-striped table-hover">
										<thead>
											<tr>
												<th></th>
												<th>Nome</th>
												<th>CNS</th>
												<th>Profissional de Destino</th>
												<th>Ações</th>
											</tr>
										</thead>
										<tfoot>
											<tr th:if="${guiasAtendimento.size()} > 5">
												<th></th>
												<th>Nome</th>
												<th>CNS</th>
												<th>Profissional de Destino</th>
												<th>Ações</th>
											</tr>
										</tfoot>
										<tbody>
											<tr th:each="guiaAtendimento : ${guiasAtendimento}">
												<td><span
													th:if="${guiaAtendimento.cidadao.sexo == 'M'}"><i
														class="fa fa-male"></i></span> <span
													th:if="${guiaAtendimento.cidadao.sexo == 'F'}"><i
														class="fa fa-female"></i></span></td>
												<td th:text="${guiaAtendimento.cidadao.nome}"></td>
												<td data-mask="000.0000.0000.0000" th:text="${guiaAtendimento.cidadao.cns}"></td>
												<td th:text="${guiaAtendimento.profissionaldestino.nome}"></td>
												<td><a class="btn btn-primary btn-sm"
													th:href="@{/triagem/realizar-triagem/{id} (id=${guiaAtendimento.id})}">Escuta
														Inicial <i class="fa fa-stethoscope"></i>
												</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<footer class="footer">
			<div class="container-fluid">
				<nav class="pull-left">
					<th:block th:each="estabelecimento : ${estabelecimento}">
						<span class="text-primary" th:text="${estabelecimento.nome}"></span>
					</th:block>
				</nav>
				<div class="copyright ml-auto">Sistema de Gestão Hospitalar,
					2020.</div>
			</div>
		</footer>
	</div>
</body>

</html>