<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="message_info"> 
    <div class="col-md-12" th:if="${info}">
        <div class="alert alert-info alert-dismissible fade show"
            role="alert">
            <strong>Aviso! </strong><a th:text="${info}"></a>
            <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</body>
</html>