<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>

<body>

	<div id="form-cidadao-div">
		<form method="post" th:action="@{/cidadao/salvar}" th:object="${cidadao}" id="form-cidadao">
			<!-- div reponsável em mostrar os erros -->
			<div id="errors" class="form-group row">
				<div class="col-sm-12 mb-3 mb-sm-0"></div>
			</div>

			<div class="card">
				<div class="card-header">
					<div class="card-title">Dados do Cidadão</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-6 col-lg-9">
							<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
								<label for="nome">Nome</label> <input name="nome" type="text" class="form-control"
									id="nome" placeholder="Digite o nome do Cidadão" th:field="*{nome}">
								<small id="small-nome" class="form-text text-muted"></small>
							</div>
						</div>

						<div class="col-md-6 col-lg-3">
							<div class="form-group" th:classappend="${#fields.hasErrors('dataNascimento')} ? has-error">
								<label for="dataNascimento">Data de Nascimento</label> <input name="dataNascimento"
									type="date" class="form-control" id="datanascimento" th:field="*{dataNascimento}">
								<small id="small-dataNascimento" class="form-text text-muted"></small>
							</div>
						</div>

						<div class="col-md-6 col-lg-9">
							<div class="form-group" th:classappend="${#fields.hasErrors('nomeMae')} ? has-error">
								<label for="nomeMae">Nome da mãe</label> <input name="nomeMae" type="text"
									class="form-control" id="nomemae" placeholder="Digite o nome da mãe"
									th:field="*{nomeMae}"> <small id="small-nomeMae"
									class="form-text text-muted"></small>
								<small><input type="checkbox" id="semInfo-mae"> Sem
									informação</small>
							</div>
						</div>

						<div class="col-md-6 col-lg-9">
							<div class="form-group" th:classappend="${#fields.hasErrors('nomePai')} ? has-error">
								<label for="nomePai">Nome do pai</label> <input name="nomePai" type="text"
									class="form-control" id="nomepai" placeholder="Digite o nome do pai"
									th:field="*{nomePai}"> <small id="small-nomePai"
									class="form-text text-muted"></small>
								<small><input type="checkbox" id="semInfo-pai"> Sem
									informação</small>
							</div>
						</div>

						<div class="col-md-6 col-lg-4">
							<div class="form-group" th:classappend="${#fields.hasErrors('sexo')} ? has-error">
								<label for="sexo">Sexo</label> <select name="sexo" class="form-control" id="sexo">
									<option th:value="M">MASCULINO</option>
									<option th:value="F">FEMININO</option>
								</select> <small id="small-sexo" class="form-text text-muted"></small>
							</div>
						</div>

						<div class="col-md-6 col-lg-4">
							<div class="form-group" th:classappend="${#fields.hasErrors('codigoRaca')} ? has-error">
								<label for="codigoraca">Raça</label> <select name="codigoRaca" class="form-control"
									id="codigoraca" th:field="*{codigoRaca}">
									<option th:each="raca : ${racas}" th:value="${raca.codigo}"
										th:text="${raca.descricao}"></option>
								</select> <small id="small-codigoraca" class="form-text text-muted"></small>
							</div>
						</div>

						<div class="col-md-6 col-lg-3">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('codigoNacionalidade')} ? has-error">
								<label for="codigoNacionalidade">Nacionalidade</label> <select
									name="codigoNacionalidade" class="form-control" id="codigonacionalidade"
									th:field="*{codigoNacionalidade}">
									<option th:value="010">BRASILEIRO</option>
									<option th:value="020">NATURALIZADO</option>
									<option th:value="050">ESTRANGEIRO</option>
								</select><small id="small-codigoNacionalidade" class="form-text text-muted"></small>
							</div>
						</div>

						<div class="col-md-6 col-lg-4">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('municipioNascimento')} ? has-error">
								<label for="municipioNascimento">Naturalidade</label> <input type="text"
									name="municipioNascimentoNome" class="form-control ui-widget"
									id="municipioNascimento"
									th:value="*{municipioNascimento} != null ? *{municipioNascimento.nomeMunicipioSiglaUF}">
								<input type="hidden" name="municipioNascimento" id="id-municipioNascimento"
									th:value="*{municipioNascimento} != null ? *{municipioNascimento.id}">
								<small id="small-municipioNascimento" class="form-text text-muted"></small>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<div class="card-title">Documentação</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-6 col-lg-4">
							<div class="form-group" th:classappend="${#fields.hasErrors('cns')} ? has-error">
								<label for="cns">CNS</label> <input type="text" name="cns" class="form-control"
									data-mask-reverse="true" id="cns" placeholder="000.0000.0000.0000"
									th:field="*{cns}">
								<small id="small-cns" class="form-text text-muted"></small>
							</div>
						</div>

						<div class="col-md-6 col-lg-4">
							<div class="form-group" th:classappend="${#fields.hasErrors('cpf')} ? has-error">
								<label for="cpf">CPF</label> <input type="text" name="cpf" class="form-control" id="cpf"
									placeholder="000.000.000-00" th:field="*{cpf}"> <small id="small-cpf"
									class="form-text text-muted"></small>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<div class="card-title">Endereço do Cidadão</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div id="div-cep" class="col-md-6 col-lg-4">
							<div class="form-group" th:classappend="${#fields.hasErrors('endereco.cep')} ? has-error">
								<label for="cep">CEP</label> <input name="endereco.cep" th:field="*{endereco.cep}"
									type="text" class="form-control" id="cep"> <small id="small-endereco-cep"
									class="form-text text-muted"></small>
							</div>
						</div>
						<div id="div-cep" class="col-md-6 col-lg-3">
							<div class="form-group">
								<label for="cep">&nbsp</label>
								<button id="button-pesquisaCep" class="btn btn-primary form-control">
									<span class="btn-label"> <i class="fa fa-search"></i>
									</span> Pesquisar
								</button>
							</div>
						</div>
						<div class="col-md-6 col-lg-6">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('endereco.municipio')} ? has-error">
								<label for="nomemunicipio">Município</label> <input name="nomemunicipio" type="text"
									class="form-control" id="nomemunicipio"
									th:value="*{endereco.municipio} != null ? *{endereco.municipio.nomeMunicipio}">
								<input type="hidden" id="endereco-municipio" name="endereco.municipio"
									th:field=*{endereco.municipio}
									th:value="*{endereco.municipio} != null ? *{endereco.municipio.id}">
								<small id="small-nomemunicipio" class="form-text text-muted"></small>
							</div>
						</div>

						<div class="col-md-6 col-lg-4">
							<div class="form-group">
								<label for="estado">Estado</label> <input type="text" class="form-control"
									id="nomeEstado"
									th:value="*{endereco.municipio} != null ? *{endereco.municipio.estado.nome}">
								<small id="small-endereco-municipio" class="form-text text-muted"></small>
							</div>
						</div>

						<div class="col-md-6 col-lg-3">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('endereco.logradouro')} ? has-error">
								<label for="codigologradouro">Logradouro</label> <input type="text" class="form-control"
									id="desc-logradouro" name="desc-logradouro"
									th:value="*{endereco.logradouro} != null ? *{endereco.logradouro.descricao}">
								<input type="hidden" id="endereco-logradouro" name="endereco.logradouro"
									th:field="*{endereco.logradouro}"
									th:value="*{endereco.logradouro} != null ? *{endereco.logradouro.codigo}">
								<small id="small-endereco-logradouro" class="form-text text-muted"></small>
							</div>
						</div>

						<div class="col-md-6 col-lg-4">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('endereco.nomeLogradouro')} ? has-error">
								<label for="endereco">Nome do Logradouro</label> <input name="endereco.nomeLogradouro"
									th:field="*{endereco.nomeLogradouro}" type="text" class="form-control"
									id="endereco-nomeLogradouro" placeholder=""> <small
									id="small-endereco-nomeLogradouro" class="form-text text-muted"></small>
							</div>
						</div>

						<div class="col-md-6 col-lg-4">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('endereco.bairro')} ? has-error">
								<label for="bairro">Bairro</label> <input name="endereco.bairro" type="text"
									class="form-control" id="endereco-bairro" placeholder=""
									th:field="*{endereco.bairro}"> <small id="small-endereco-bairro"
									class="form-text text-muted"></small>
							</div>
						</div>

						<div class="col-md-6 col-lg-2">
							<div class="form-group">
								<label for="complementoendereco">Complemento</label> <input name="endereco.complemento"
									type="text" class="form-control" id="endereco-complemento" placeholder=""
									th:field="*{endereco.complemento}">
								<small id="small-endereco-complemento" class="form-text text-muted"></small>
							</div>
						</div>

						<div class="col-md-6 col-lg-2">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('endereco.numero')} ? has-error">
								<label for="numeroendereco">Número</label> <input name="endereco.numero" type="text"
									class="form-control" id="endereco-numero" placeholder=""
									th:field="*{endereco.numero}"> <small id="small-numero"
									class="form-text text-muted"></small> <small><input type="checkbox" id="semNumero">
									Sem número</small>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<div class="card-title">Dados de Contato</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-6 col-lg-4">
							<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error">
								<label for="email">Email</label> <input type="email" name="email" class="form-control"
									id="email" th:field="*{email}" placeholder="example@email.com">
								<small id="small-email" class="form-text text-muted"></small>
							</div>
						</div>

						<div class="col-md-6 col-lg-4">
							<div class="form-group" th:classappend="${#fields.hasErrors('telefone')} ? has-error">
								<label for="telefone">Telefone</label> <input type="tel" name="telefone"
									class="form-control" id="telefone" th:field="*{telefone}"
									placeholder="(00)00000-0000">
								<small id="small-telefone" class="form-text text-muted"></small>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Botões de ação do Formulário-->
			<div class="card-action">
				<button type="submit" class="btn btn-primary">Cadastrar
					na Base Local</button>
				<a id="btn-cancelar-form"><button type="button" class="btn btn-warning">Cancelar</button></a>

			</div>
			<!-- Fim dos Botões de ação do Formulário-->
		</form>
		<!-- Fim do Formulário para preenchimento dos dados do Cidadão -->
	</div>
</body>

</html>