<html>
<head>
<meta charset="utf-8">
</head>
<table th:if="${alergias.size() != 0}" class="table">
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col">Nome</th>
			<th scope="col">Data Início</th>
			<th class="text-center" scope="col">Situação</th>
			<th scope="col">Ações</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="statusAlergia : ${alergias}">
			<td><div class="avatar">
					<img th:src="@{/assets/img/alergia-icon.png}" alt="..."
						class="avatar-img rounded-circle">
				</div></td>
			<td th:text="${statusAlergia.alergia.nome}"></td>
			<td
				th:text="${#temporals.format(statusAlergia.dataInicio, 'dd/MM/yyyy')}"></td>
			<td class="text-center"><span class="badge"
				th:classappend="|${statusAlergia.situacaoCondicao == T(com.ifrn.sisgestaohospitalar.enums.SituacaoCondicao).ATIVA ? 'badge-danger' : ''} ${statusAlergia.situacaoCondicao == T(com.ifrn.sisgestaohospitalar.enums.SituacaoCondicao).LATENTE ? 'badge-warning' : ''} ${statusAlergia.situacaoCondicao == T(com.ifrn.sisgestaohospitalar.enums.SituacaoCondicao).CURADA ? 'badge-success' : ''} |"
				th:text="|${statusAlergia.situacaoCondicao == T(com.ifrn.sisgestaohospitalar.enums.SituacaoCondicao).ATIVA ? 'Ativa': ''} ${statusAlergia.situacaoCondicao == T(com.ifrn.sisgestaohospitalar.enums.SituacaoCondicao).LATENTE ? 'Latente': ''} ${statusAlergia.situacaoCondicao == T(com.ifrn.sisgestaohospitalar.enums.SituacaoCondicao).CURADA ? 'Curada': ''}|"></span></td>
			<td><button th:data-status="${statusAlergia.id}" type="button"
					id="button-editar-alergia" class="btn btn-primary btn-sm">
					<i class="fa fa-edit"></i> Editar
				</button></td>
		</tr>
	</tbody>
</table>
<div th:if="${alergias.size() == 0}" class="item-list">
	<div class="info-user ml-3">
		<div class="h5">Sem registros</div>
	</div>
</div>
</html>