<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-admin}" lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<body>
	<div class="main-panel" layout:fragment="main-panel">
		<div class="container">
			<div class="page-inner">
				<div class="page-header">
					<h4 class="page-title">Profissional</h4>
					<ul class="breadcrumbs">
						<li class="separator"></li>
						<li class="nav-item"><a th:href="@{#}">Detalhes</a></li>
					</ul>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-12">
							<div class="card card-profile">
								<div class="card-body">
									<div class="user-profile text-center">
										<div class="name" th:text="${profissional.nomeAbrev}"></div>
										<div class="job" th:text="${profissional.nomeOcupacao}"></div>
									</div>
								</div>
								<div class="card-footer">
									<div class="row user-stats">
										<div class="col">
											<div class="number">Dados Pessoais:</div>
											<strong>Nome Completo:</strong>
											<div th:text="${profissional.nome}"></div>
											<strong>Email:</strong>
											<div th:text="${profissional.email}"></div>
											<strong>Nascimento:</strong>
											<div th:text="${profissional.dataNascimento}">
											</div>
										</div>
										<div class=" col">
											<div class="number">Documentações:</div>
											<strong>CNS:</strong>
											<div th:text="${profissional.cns}"></div>
											<strong>CPF:</strong>
											<div th:text="${profissional.cpf}"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>