<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-admin}" lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8">
	<title>SGH - Bem Vindo!</title>
</head>

<body>
	<div layout:fragment="main-panel">
		<div class="main-panel">
			<div class="container">
				<div class="panel-header bg-primary-gradient">
					<div class="page-inner py-5">
						<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
							<div>
								<h2 class="text-white pb-2 fw-bold">Sistema de Gestão
									Hospitalar</h2>
								<h5 class="text-white op-7 mb-2">Administração</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="page-inner mt--5">
					<div class="row mt--2">
						<div class="col-md-6">
							<div class="card full-height">
								<div class="card-body">
									<div class="card-title-admin">Dados do Estabelecimento</div>
									<div class="row py-3" th:each="estabelecimento : ${estabelecimentos}">
										<div class="col-md-7 d-flex flex-column justify-content-around">
											<div>
												<h6 class="fw-bold text-uppercase text-success op-8">Nome
													Fantasia:</h6>
												<h8 class="fw-bold" th:text="${estabelecimento.nome}"></h8>
											</div>
											<div>
												<h6 class="fw-bold text-uppercase text-success op-8">CNES:</h6>
												<h8 class="fw-bold" th:text="${estabelecimento.cnes}"></h8>
											</div>
										</div>
										<div class="col-md-5">
											<div class="col-md-8 d-flex flex-column justify-content-around">
												<div>
													<h6 class="fw-bold text-uppercase text-success op-8">Tipo
														da Unidade:</h6>
													<h8 class="fw-bold"
														th:text="${estabelecimento.descricaoTipoUnidade}"></h8>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="card full-height">
								<div class="card-body">
									<div class="card-title-admin">Atendimentos</div>
									<div class="card-category">
										Relativos a hoje: <strong th:text="${dataatual}"></strong>
									</div>
									<div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
										<div class="px-2 pb-2 pb-md-0 text-center">
											<div id="circles-4"></div>
											<h6 class="fw-bold mt-3 mb-0">Total</h6>
										</div>
										<div class="px-2 pb-2 pb-md-0 text-center">
											<div id="circles-5"></div>
											<h6 class="fw-bold mt-3 mb-0">Urgências</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

</body>

</html>