<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-admin}" lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<body>
	<div class="main-panel" layout:fragment="main-panel">
		<div class="container">
			<div class="page-inner">

				<!-- DIV de Alerta de Sucessos -->
				<div class="col-md-12" th:if="${sucesso}">
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<strong>Sucesso!</strong><a th:text="${sucesso}"></a>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>

				<!-- DIV de Alerta de Erros -->
				<div class="col-md-12" th:if="${erro}">
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<strong>Erro!</strong> <a th:text="${erro}"></a>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
				<div class="page-header">
					<h4 class="page-title">Administração</h4>
					<ul class="breadcrumbs">
						<li class="nav-home"><i class="flaticon-home"></i></li>
						<li class="separator"><i class="flaticon-right-arrow"></i></li>
						<li class="nav-item"><a th:href="@{#}">Exportação</a></li>
						<li class="separator"><i class="flaticon-right-arrow"></i></li>
						<li class="nav-item"><a th:href="@{#}">Gerar arquivo BPA</a></li>
					</ul>
				</div>

				<form th:action="@{/administracao/exportarbpa}" method="get">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Geração de Arquivo BPA/SIA-SUS</div>
								</div>

								<div class="col-md-6">
									<div class="card-body">
										<div class="form-group">
											<label for="email2">Selecione o Mês da Competência</label> <input
												type="month" name="competencia" class="form-control" id="mes">
											<small id="small-mes" class="form-text text-muted">Selecione o mês da
												competência para a geração do arquivo de exportação da produção
												ambulatorial</small>
										</div>

									</div>
									<div class="card-action">
										<button type="submit" class="btn btn-primary">Gerar</button>
										<button type="reset" class="btn btn-warning btn-border">Cancelar</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer-layout"></div>
	</div>

</body>

</html>