<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-modulos}" lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<body>
	<div class="main-panel" layout:fragment="main-panel">
		<div class="container">
			<div class="page-inner">

				<!-- DIV de Alerta de Sucessos -->
				<div class="col-md-12" th:if="${sucesso}">
					<div class="alert alert-success alert-dismissible fade show"
						role="alert">
						<strong>Sucesso!</strong><a th:text="${sucesso}"></a>
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>

				<!-- DIV de Alerta de Erros -->
				<div class="col-md-12" th:if="${erro}">
					<div class="alert alert-danger alert-dismissible fade show"
						role="alert">
						<strong>Erro!</strong> <a th:text="${erro}"></a>
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
				<div class="page-header">
					<h4 class="page-title">Administração</h4>
					<ul class="breadcrumbs">
						<li class="nav-home"><i class="flaticon-home"></i></li>
						<li class="separator"><i class="flaticon-right-arrow"></i></li>
						<li class="nav-item"><a th:href="@{#}">Exportação</a></li>
						<li class="separator"><i class="flaticon-right-arrow"></i></li>
						<li class="nav-item"><a th:href="@{#}">Competencias Geradas</a></li>
					</ul>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-title">Compentências Geradas</div>
							</div>
							<div class="card-body">
								<div class="card-sub">Selecione o ícone <i class="fas fa-download"></i> para realizar o download do arquivo BPA  </div>
								<table class="table mt-3">
									<thead>
										<tr>
											<th scope="col">Competência</th>
											<th scope="col">Data de geração</th>
											<th scope="col">Nome do Arquivo</th>
											<th scope="col">Baixar</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="arquivoBpa : ${arquivosBpa}">
											<td th:text="${arquivoBpa.competencia}"></td>
											<td th:text="${arquivoBpa.dataGeracao}"></td>
											<td th:text="${arquivoBpa.nomeArquivo}"></td>
											<td><a th:href="@{/administracao/download/{id} (id=${arquivoBpa.id})}"><i class="fas fa-download"></i></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container-fluid">
			<nav class="pull-left">
				<th:block th:each="estabelecimento : ${estabelecimento}">
					<span class="text-primary" th:text="${estabelecimento.nome}"></span>
				</th:block>
			</nav>
			<div class="copyright ml-auto">Sistema de Gestão Hospitalar,
				2020.</div>
		</div>
	</footer>
</body>

</html>