<div id="card-edit-alergia" class="card">
	<div class="card-header">
		<div class="card-title"><a id="edit-alergia-voltar" data-toggle="tooltipe" data-placement="top"
				title="Voltar para tela anterior" class="btn btn-light"> <i class="fa fa-flip-horizontal fa-share"></i>
			</a> Editar alergia</div>
	</div>
	<div class="card-body">
		<div>
			<form id="form-status-alergia-edit" action="/status-alergia/editar" method="post">
				<h5 class="card-title">Editar alergia</h5>
				<input type="hidden" name="id" id="id-status-alergia-dto">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="alergia-nome-dto">Nome da
								alergia *</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<button type="button" class="btn btn-primary btn-border" id="editar-nome-alergia">
										<i class="fa fa-edit"></i>
									</button>
								</div>
								<input type="text" class="form-control" name="alergia.nome" id="alergia-nome-dto"
									placeholder="" disabled="disabled"> <small id="alergia-nome-dto-small"
									class="form-text text-muted"></small> <input name="alergia.id" type="hidden"
									id="id-alergia-dto">
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label for="alergia-cid-dto">Cid Associado </label>
							<div class="input-group">
								<div class="input-group-prepend">
									<button type="button" class="btn btn-primary btn-border" id="editar-cid-alergia">
										<i class="fa fa-edit"></i>
									</button>
								</div>
								<input type="text" class="form-control" name="alergia.cid" id="alergia-cid-dto"
									placeholder="" disabled="disabled"> <small id="alergia-cid-dto-small"
									class="form-text text-muted"></small> <input name="alergia.cid.id" type="hidden"
									id="id-cid-dto">
							</div>

						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group" data-toggle="tooltip"
							title="Data em que o Cidadão descobriu a condição">
							<label for="dataInicio-dto">Data Início </label> <input type="date" class="form-control"
								name="dataInicio" id="dataInicio-dto" placeholder=""> <small id="dataInicio-dto-small"
								class="form-text text-muted"></small>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group" data-toggle="tooltip" title="Data em que o Cidadão resolveu a condição">
							<label for="dataFim-dto">Data Fim </label> <input type="date" class="form-control"
								name="dataFim" id="dataFim-dto" placeholder=""> <small id="dataFim-dto-small"
								class="form-text text-muted"></small>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="form-label">Situação *</label>
							<div class="selectgroup w-100" id="div-situacao-edit">
								<th:block th:each="situacaoCondicao : ${situacoesCondicao}">
									<label class="selectgroup-item" data-toggle="tooltip"
										th:title="${situacaoCondicao.descricao}">
										<input type="radio" name="situacaoCondicao" th:value="${situacaoCondicao}"
											class="selectgroup-input"><span class="selectgroup-button"
											th:text="${situacaoCondicao.nome}"></span>
									</label>
								</th:block>
							</div>
						</div>
					</div>
				</div>
				<div class="text-right">
					<button type="submit" class="btn btn-primary btn-sm">
						Salvar</button>
					<button onclick="fechaFormularioEditAlergia()" type="button" class="btn btn-warning btn-sm">
						Cancelar</button>
				</div>
			</form>
		</div>
	</div>
</div>