<div id="div-form-triagem">
	<form id="form-triagem" method="post" action="/triagem/salvar">
		<input id="atendimento-id" type="hidden" th:value="${atendimento}" name="atendimento">
		<input id="inicioTriagem" type="hidden" name="inicioTriagem" th:value="${triagem.inicioTriagem}">
		<input id="idTriagem" type="hidden">
		<div class="card">
			<div class="card-header">
				<div class="card-title">Motivos do Atendimento</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-12 col-lg-12">
						<div class="form-group">
							<textarea class="form-control" name="motivo" id="motivo"></textarea>
							<small id="motivo-small" class="form-text text-muted">Digite
								na área de texto acima o(s) motivo(s) do
								atendimento</small>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<div class="card-title">Sinais vitais</div>
			</div>
			<div class="card-body">
				<div th:replace="fragments/sinaisVitais/form-sinais-vitais"></div>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				<div class="card-title">Classificação de Risco</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-12 row">
						<th:block th:each="classificacaoDeRisco : ${classificacoesRisco}">
							<div id="classificacaoRadios" class="form-group col-md-2 col-lg-2">
								<input th:if="${classificacaoDeRisco.nome != 'NÃO INFORMADA'}" type="radio"
									class="radio-class" th:id="${classificacaoDeRisco.nome}" name="classificacaoDeRisco"
									th:value="${classificacaoDeRisco.id}"><label
									th:if="${classificacaoDeRisco.nome != 'NÃO INFORMADA'}"
									th:classappend="|${classificacaoDeRisco.nome == 'VERMELHO' ? 'label-input-red' : ''} ${classificacaoDeRisco.nome == 'AMARELO' ? 'label-input-yellow' : ''}
										${classificacaoDeRisco.nome == 'AZUL' ? 'label-input-blue' : ''} ${classificacaoDeRisco.nome == 'LARANJA' ? 'label-input-orange' : ''} ${classificacaoDeRisco.nome == 'VERDE' ? 'label-input-green' : ''}|"
									th:for="${classificacaoDeRisco.nome}"><span class="text-light"
										th:text="${classificacaoDeRisco.nome}"></span></label>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</div>
		<div id="card-action" class="card-action">

		</div>
	</form>
	<div class="separator-solid"></div>

	<div th:replace="fragments/usoMedicamentos/card-medicamento">
	</div>
	<div th:replace="fragments/antropometria/card-antropometria">
	</div>
</div>