<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
</head>

<footer th:fragment="footer-layout" class="footer">
	<div class="container-fluid">
		<nav class="pull-left">
			<span class="text-primary"></span>
		</nav>
		<div class="copyright ml-auto">Sistema de Gestão Hospitalar,
			2021.</div>
	</div>
</footer>
</html>