<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
</head>
<div th:fragment="main-header" class="main-header">
	<!-- Logo Header -->
	<div class="logo-header" data-background-color="white">

		<a th:href="@{/}" class="logo"> <img th:src="@{/assets/img/logo-sgh-web.png}" width="100px"
				class="navbar-brand">
		</a>
		<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
			data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"> <i class="icon-menu"></i>
			</span>
		</button>
		<button class="topbar-toggler more">
			<i class="icon-options-vertical"></i>
		</button>
		<div class="nav-toggle">
			<button class="btn btn-toggle toggle-sidebar">
				<i class="icon-menu"></i>
			</button>
		</div>
	</div>
	<!-- End Logo Header -->

	<!-- Navbar Header -->
	<nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">

		<div class="container-fluid">
			<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">

				<li class="nav-item dropdown hidden-caret"><a class="nav-link dropdown-toggle" th:href="@{/logout}"> <i
							class="fa fa-sign-out-alt" aria-hidden="true"></i>
					</a></li>
			</ul>
		</div>
	</nav>
	<!-- End Navbar -->
</div>

<div th:fragment="main-header-login" class="main-header">
	<!-- Logo Header -->
	<div class="logo-header" data-background-color="white">

		<a th:href="@{/}" class="logo"> <img th:src="@{/assets/img/logo-sgh-web.png}" width="100px"
				class="navbar-brand">
		</a>
	</div>
	<!-- End Logo Header -->

	<!-- Navbar Header -->
	<nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">
		<div class="container-fluid"></div>
	</nav>
	<!-- End Navbar -->
</div>

<div th:fragment="main-header-recepcao" class="main-header">
	<!-- Logo Header -->
	<div class="logo-header" data-background-color="white">

		<a th:href="@{/}" class="logo ml-auto mr-auto"> <img th:src="@{/assets/img/logo-sgh-web.png}" alt="navbar brand"
				class="navbar-brand" height="35">
		</a>
		<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
			data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"> <i class="icon-menu"></i>
			</span>
		</button>
		<button class="topbar-toggler more">
			<i class="icon-options-vertical"></i>
		</button>
	</div>
	<!-- End Logo Header -->

	<!-- Navbar Header -->
	<nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">

		<div class="container-fluid">
			<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
				<li class="nav-item dropdown hidden-caret"><a class="nav-link dropdown-toggle" th:href="@{/logout}"> <i
							class="fa fa-sign-out-alt" aria-hidden="true"></i>
					</a></li>
			</ul>
		</div>
	</nav>
	<!-- End Navbar -->
</div>

</html>