<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8">
</head>
<!-- Sidebar -->
<!-- Sidebar Módulos - -->
<div th:fragment="sidebar" class="sidebar sidebar-style-2">
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">
			<ul class="nav nav-primary">
				<li class="nav-item"><a data-toggle="collapse" href="#dashboard" class="collapsed"
						aria-expanded="false"> <img alt="" width="40" th:src="@{/assets/img/person-male.png}"> <span
							class="low" th:text="${user.concatName}"></span><span class="type-user"
							th:text="${user.tipoUsuario.nome}"></span> <span class="caret"></span>
					</a>
					<div class="collapse" id="dashboard">
						<ul class="nav nav-collapse">
							<li><a href=""> <span class="sub-item">Meu
										Perfil</span>
								</a></li>
						</ul>
					</div>
				</li>
				<li class="nav-section"><span class="sidebar-mini-icon">
						<i class="fa fa-ellipsis-h"></i>
					</span>
					<h4 class="text-section">Ações</h4>
				</li>

				<li sec:authorize="hasAnyAuthority('TECNICO','ENFERMEIRO','MEDICO','AUXILIAR')" class="nav-item"><a
						th:href="@{/cidadao/adicionar}"> <i class="fas fa-user-plus"></i>
						<p>Cidadão</p> <span class="caret"></span>
					</a></li>
				<li sec:authorize="hasAnyAuthority('ENFERMEIRO','MEDICO')" class="nav-item"><a
						th:href="@{/triagem/listar}"> <i class="fa fa-users"></i>
						<p>Triagem</p>
					</a></li>
				<li sec:authorize="hasAnyAuthority('MEDICO','ENFERMEIRO','TECNICO','AUXILIAR')" class="nav-item"><a
						th:href="@{/atendimento/listar-atendimentos}"> <i class="fa fa-users"></i>
						<p>Atendimentos</p>
					</a></li>
			</ul>
		</div>
	</div>
</div>

<div th:fragment="sidebar-admin" class="sidebar">
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">
			<ul class="nav nav-primary">
				<li class="nav-item"><a data-toggle="collapse" href="#dashboard" class="collapsed"
						aria-expanded="false"> <img alt="" width="40" th:src="@{/assets/img/person-male.png}"> <span
							class="low" th:text="${user.concatName}"></span><span class="type-user"
							th:text="${user.tipoUsuario.nome}"></span> <span class="caret"></span>
					</a>
					<div class="collapse" id="dashboard">
						<ul class="nav nav-collapse">
							<li><a href=""> <span class="sub-item">Meu
										Perfil</span>
								</a></li>
						</ul>
					</div>
				</li>
				<li class="nav-section"><span class="sidebar-mini-icon">
						<i class="fa fa-ellipsis-h"></i>
					</span></li>
				<li class="nav-item"><a th:href="@{/administracao/}"> <i class="fas fa-home"></i>
						<p>Início</p>
					</a></li>
				<li class="nav-item"><a data-toggle="collapse" th:href="@{#base}"> <i class="fas fa-clipboard"></i>
						<p>Cadastros</p> <span class="caret"></span>
					</a>
					<div class="collapse" id="base">
						<ul class="nav nav-collapse">
							<li><a th:href="@{/profissional/cadastrar}">
									<span class="sub-item">Profissionais</span>
								</a></li>
						</ul>
					</div>
				</li>
				<li class="nav-item"><a data-toggle="collapse" href="#sidebarLayouts"> <i class="fas fa-search"></i>
						<p>Consultas</p> <span class="caret"></span>
					</a>
					<div class="collapse" id="sidebarLayouts">
						<ul class="nav nav-collapse">
							<li><a th:href="@{/profissional/listar}">
									<span class="sub-item">Profissionais</span>
								</a></li>

							<li><a th:href="@{/atendimento/buscar-admin}">
									<span class="sub-item">Atendimentos</span>
								</a></li>

							<li><a th:href="@{/cidadao/busca-admin}">
									<span class="sub-item">Cidadãos</span>
								</a></li>

						</ul>
					</div>

				<li class="nav-item"><a data-toggle="collapse" href="#forms">
						<i class="fas fa-chart-bar"></i>
						<p>Prod. ambulatorial</p> <span class="caret"></span>
					</a>
					<div class="collapse" id="forms">
						<ul class="nav nav-collapse">
							<li><a th:href="@{/bpa/gerarbpa}"> <span class="sub-item">Gerar Arquivo BPA</span>
								</a></li>
							<li><a th:href="@{/bpa/listar-bpa}"> <span class="sub-item">Competências
										Geradas</span>
								</a></li>
							<li><a th:href="@{/bpa/previa}"> <span class="sub-item">Prévia da produção</span>
								</a></li>
						</ul>
					</div>
				</li>
				<li class="nav-item"><a data-toggle="collapse" href="#tables">
						<i class="fas fa-upload"></i>
						<p>Importação</p> <span class="caret"></span>
					</a>
					<div class="collapse" id="tables">
						<ul class="nav nav-collapse">
							<li><a th:href="@{/xml-esus/form-upload}"> <span class="sub-item">Importar .xml
										ESUS</span>
								</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>


</html>