<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
</head>
<!-- Sidebar -->
<div th:fragment="sidebar" class="sidebar sidebar-style-2">
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">
			<div class="user">
				<div class="avatar-sm float-left mr-2">
					<img th:src="@{/assets/img/person-male.png}" alt="..."
						class="avatar-img rounded-circle">
				</div>
				<div class="info">
					<a data-toggle="collapse" href="#collapseExample"
						aria-expanded="true"> <span th:text="${user.firstname}"></span>
						<span class="user-level" th:text="${user.tipoprofissional}"></span>
						<span class="caret"></span>
					</a>
					<div class="clearfix"></div>

					<div class="collapse in" id="collapseExample">
						<ul class="nav">
							<li><a th:href="@{/profissional/myprofile}"> <span
									class="link-collapse">Meu perfil</span>
							</a></li>

						</ul>
					</div>
				</div>
			</div>
			<ul class="nav nav-primary">
				<li class="nav-section"><span class="sidebar-mini-icon">
						<i class="fa fa-ellipsis-h"></i>
				</span></li>
				<li class="nav-item"><a th:href="@{/administracao/}"> <i
						class="fas fa-home"></i>
						<p>Início</p>
				</a></li>
				<li class="nav-item"><a data-toggle="collapse"
					th:href="@{#base}"> <i class="fas fa-clipboard"></i>
						<p>Cadastros</p> <span class="caret"></span>
				</a>
					<div class="collapse" id="base">
						<ul class="nav nav-collapse">
							<li><a th:href="@{/profissional/add}"> <span
									class="sub-item">Profissionais</span>
							</a></li>
						</ul>
					</div></li>
				<li class="nav-item"><a data-toggle="collapse"
					href="#sidebarLayouts"> <i class="fas fa-search"></i>
						<p>Consultas</p> <span class="caret"></span>
				</a>
					<div class="collapse" id="sidebarLayouts">
						<ul class="nav nav-collapse">
							<li><a th:href="@{/profissional/list}"> <span
									class="sub-item">Profissionais</span>
							</a></li>
						</ul>
					</div></li>
				<li class="nav-item"><a data-toggle="collapse" href="#forms">
						<i class="fas fa-download"></i>
						<p>Exportação</p> <span class="caret"></span>
				</a>
					<div class="collapse" id="forms">
						<ul class="nav nav-collapse">
							<li><a th:href="@{/administracao/gerarbpa}"> <span
									class="sub-item">Gerar Arquivo BPA</span>
							</a></li>
						</ul>
					</div></li>
				<li class="nav-item"><a data-toggle="collapse" href="#tables">
						<i class="fas fa-upload"></i>
						<p>Importação</p> <span class="caret"></span>
				</a>
					<div class="collapse" id="tables">
						<ul class="nav nav-collapse">
							<li><a th:href="@{/administracao/form-upload}"> <span
									class="sub-item">Importar .xml ESUS</span>
							</a></li>
						</ul>
					</div></li>
			</ul>
		</div>
	</div>
</div>
<!-- End Sidebar -->

<!-- Sidebar Módulos - Recepção, Triagem, Atendimento Médico e Admin de Medicamentos -->
<div th:fragment="sidebar-modulos" class="sidebar sidebar-style-2">
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">
			<ul class="nav nav-primary">
				<li class="nav-item"><a data-toggle="collapse"
					href="#dashboard" class="collapsed" aria-expanded="false"> <img
						alt="" width="40" th:src="@{/assets/img/person-male.png}"> <span
						th:text="${user.firstname}" class="low"></span><span
						class="type-user">ADMINISTRADOR</span> <span class="caret"></span>
				</a>
					<div class="collapse" id="dashboard">
						<ul class="nav nav-collapse">
							<li><a href="../demo1/index.html"> <span
									class="sub-item">Meu Perfil</span>
							</a></li>
						</ul>
					</div></li>
				<li class="nav-section"><span class="sidebar-mini-icon">
						<i class="fa fa-ellipsis-h"></i>
				</span>
					<h4 class="text-section">Ações</h4></li>

				<li class="nav-item active"><a data-toggle="collapse"
					th:href="@{/recepcao/adicionar-cidadao}"> <i class="fas fa-user-plus"></i>
						<p>Adicionar Cidadão</p> <span class="caret"></span>
				</a></li>

				<li class="nav-item"><a th:href="@{/recepcao/adicionar-cidadao}"> <i
						class="fa fa-users"></i>
						<p>Fila de Atendimento</p>
				</a></li>

			</ul>
		</div>
	</div>
</div>
<!-- End Sidebar -->

</html>