<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<!-- Sidebar -->
<div th:fragment="sidebar" class="sidebar sidebar-style-2">
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">
			<div class="user">
				<div class="avatar-sm float-left mr-2">
					<img th:src="@{/assets/img/person-male.png}" alt="..."
						class="avatar-img rounded-circle">
				</div>
				<div class="info">
					<a data-toggle="collapse" href="#collapseExample"
						aria-expanded="true"> <span th:text="${user.firstname}"></span>
						<span class="user-level" th:text="${user.tipoprofissional}"></span> <span
						class="caret"></span>
					</a>
					<div class="clearfix"></div>

					<div class="collapse in" id="collapseExample">
						<ul class="nav">
							<li><a th:href="@{/profissional/myprofile}"> <span
									class="link-collapse">Meu perfil</span>
							</a></li>

						</ul>
					</div>
				</div>
			</div>
			<ul class="nav nav-primary">
				<li class="nav-section"><span class="sidebar-mini-icon">
						<i class="fa fa-ellipsis-h"></i>
				</span></li>
				<li class="nav-item"><a th:href="@{/administracao/}"> <i
						class="fas fa-home"></i>
						<p>Início</p>
				</a></li>
				<li class="nav-item"><a data-toggle="collapse"
					th:href="@{#base}"> <i class="fas fa-clipboard"></i>
						<p>Cadastros</p> <span class="caret"></span>
				</a>
					<div class="collapse" id="base">
						<ul class="nav nav-collapse">
							<li><a th:href="@{/profissional/add}"> <span
									class="sub-item">Profissionais</span>
							</a></li>
						</ul>
					</div></li>
				<li class="nav-item"><a data-toggle="collapse"
					href="#sidebarLayouts"> <i class="fas fa-search"></i>
						<p>Consultas</p> <span class="caret"></span>
				</a>
					<div class="collapse" id="sidebarLayouts">
						<ul class="nav nav-collapse">
							<li><a th:href="@{/profissional/list}"> <span
									class="sub-item">Profissionais</span>
							</a></li>
						</ul>
					</div></li>
				<li class="nav-item"><a data-toggle="collapse" href="#forms">
						<i class="fas fa-download"></i>
						<p>Exportação</p> <span class="caret"></span>
				</a>
					<div class="collapse" id="forms">
						<ul class="nav nav-collapse">
							<li><a th:href="@{/administracao/gerarbpa}"> <span class="sub-item">Gerar Arquivo BPA</span>
							</a></li>
						</ul>
					</div></li>
				<li class="nav-item"><a data-toggle="collapse" href="#tables">
						<i class="fas fa-upload"></i>
						<p>Importação</p> <span class="caret"></span>
				</a>
					<div class="collapse" id="tables">
						<ul class="nav nav-collapse">
							<li><a th:href="@{/administracao/form-upload}"> <span
									class="sub-item">Importar .xml ESUS</span>
							</a></li>
						</ul>
					</div></li>
			</ul>
		</div>
	</div>
</div>
<!-- End Sidebar -->

<!-- Sidebar -->
<div th:fragment="sidebar-recepcao" class="sidebar sidebar-style-2">
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">
			<ul class="nav nav-primary">

				<li class="nav-section"><span class="sidebar-mini-icon">
				</span>
				<li class="nav-item"><a data-toggle="collapse" href="#base">
						<span class="avatar-sm float-left mr-2"> <img
							th:src="@{/assets/img/person-male.png}" alt="..."
							class="avatar-img rounded-circle">
					</span>
						<p th:text="${user.firstname}"></p> <span class="caret"></span>
				</a>
					<div class="collapse" id="base">
						<ul class="nav nav-collapse">
							<li><a th:href="@{/profissional/myprofileprof}"> <span
									class="sub-item">Meu perfil</span>
							</a></li>
						</ul>
					</div></li>
			</ul>
		</div>
		<div sec:authorize="hasAnyAuthority('TEC','SUPER')">
			<ul class="nav nav-primary">
				<li class="nav-item"><a th:href="@{/recepcao/addpaciente}">
						<i class="fa fa-user-plus"></i>
						<p>Adicionar Paciente</p> <span class="badge badge-success"></span>
				</a></li>
			</ul>

			<ul class="nav nav-primary">
				<li class="nav-item"><a th:href="@{/recepcao/listByStatus}">
						<i class="fa fa-users"></i>
						<p>Fila de Atendimento</p> <span class="badge badge-success"></span>
				</a></li>
			</ul>

		</div>

		<div sec:authorize="hasAnyAuthority('ENF','SUPER')">
			<ul class="nav nav-primary">
				<li class="nav-item"><a th:href="@{/triagem/list}"> <i
						class="fa fa-stethoscope"></i>
						<p>Pacientes para Triagem</p> <span class="badge badge-success"></span>
				</a></li>
			</ul>
		</div>
		<div sec:authorize="hasAnyAuthority('MED','SUPER')">
			<ul class="nav nav-primary">
				<li class="nav-item"><a
					th:href="@{/atendimentoMedico/listarStatusAtdMed}"> <i
						class="fa fa-user-md"></i>
						<p>Pacientes</p> <span
						class="badge badge-success"></span>
				</a></li>
			</ul>
		</div>
	</div>
</div>
</div>
<!-- End Sidebar -->

</html>