<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-admin}" lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<body>
	<div class="main-panel" layout:fragment="main-panel">
		<div class="container">
			<div class="page-inner">
				<div class="page-header">
					<h4 class="page-title">Atendimento</h4>
					<ul class="breadcrumbs">
						<li class="separator"></li>
						<li class="nav-item"><a>Detalhe</a></li>
					</ul>
				</div>
				<div th:replace="fragments/atendimento/content-detalhe">
				</div>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer-layout"></div>
	</div>
	<th:block layout:fragment="my-js-files">
	</th:block>
</body>

</html>