<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-modulos}" lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<body>
	<div class="main-panel" layout:fragment="main-panel">
		<div class="container">
			<div class="page-inner">
				<div id="alert"></div>
				<div class="page-header">
					<h4 class="page-title">Atendimento</h4>
				</div>
				<div class="card">
					<!-- 						<div th:switch="${edit}" class="card-header"> -->
					<!-- 							<h4 th:case="true" class="card-title">Editar Atendimento</h4> -->
					<!-- 							<h4 th:case="false" class="card-title">Adicionar a Lista de -->
					<!-- 								Atendimento</h4> -->
					<!-- 						</div> -->
					<!-- Input responsável por guardar o Id -->
					<div class="card-body">
						<div class="page-inner">
							<div class="row justify-content-center">
								<div class="col-md-12 col-lg-12 col-xl-12">
									<div class="page-divider"></div>
									<div class="card">
										<div class="card-body">
											<div class="row">
												<div class="avatar avatar-lg">
													<img th:if="${atendimento.cidadao.sexo == 'M'}"
														th:src="@{/assets/img/icons/masculino.png}" alt="..."
														class="avatar-img rounded-circle"> <img
														th:if="${atendimento.cidadao.sexo == 'F'}"
														th:src="@{/assets/img/icons/feminino.png}" alt="..."
														class="avatar-img rounded-circle">
												</div>
												<div class="demo">
													<span class="h3-info"
														th:text="${atendimento.cidadao.nome}"></span><br>
													<div class="h4-info">
														<input type="hidden" id="cpfCidadao"
															th:value="${atendimento.cidadao.cpf}"> <input type="hidden"
															id="dataNascimentoCidadao"
															th:value="${atendimento.cidadao.dataNascimento}"><i
															class="fa fa-id-card"></i> <strong>CPF: </strong><span
															data-mask="000.000.000-00"
															th:text="${atendimento.cidadao.cpf}"></span> | <strong>CNS:
														</strong> <span data-mask="000.0000.0000.0000"
															th:text="${atendimento.cidadao.cns}"></span><br>
														<strong>SEXO:</strong>
														<span th:if="${atendimento.cidadao.sexo == 'M'}"> M</span><span
															th:if="${atendimento.cidadao.sexo == 'F'}"> F</span><i></i>
														| <strong>NASC.:</strong><span
															th:text="${#temporals.format(atendimento.cidadao.dataNascimento,'dd/MM/yyyy')}"></span>
														| <strong>IDADE:</strong><span id="idadeCidadao"></span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-3 col-md-2 col-lg-2">
											<div class="nav flex-column nav-pills nav-secondary nav-pills-no-bd"
												id="v-pills-tab-without-border" role="tablist"
												aria-orientation="vertical">
												<a class="nav-link active" id="v-pills-resumo-tab-nobd"
													data-toggle="pill" href="#v-pills-resumo-nobd" role="tab"
													aria-controls="v-pills-resumo-nobd"
													aria-selected="true"><strong>RESUMO</strong></a>
												<a class="nav-link" id="v-pills-atendimento-tab-nobd" data-toggle="pill"
													href="#v-pills-atendimento-nobd" role="tab"
													aria-controls="v-pills-atendimento-nobd"
													aria-selected="false"><strong>ATENDIMENTO</strong></a> <a
													class="nav-link" id="v-pills-historico-tab-nobd" data-toggle="pill"
													href="#v-pills-historico-nobd" role="tab"
													aria-controls="v-pills-historico-nobd"
													aria-selected="false"><strong>HISTÓRICO</strong></a>
											</div>
										</div>
										<div class="col-sm-9 col-md-10 col-lg-10">
											<div class="tab-content" id="v-pills-without-border-tabContent">
												<div class="tab-pane fade show active" id="v-pills-resumo-nobd"
													role="tabpanel" aria-labelledby="v-pills-resumo-tab-nobd"></div>

												<div class="tab-pane fade" id="v-pills-atendimento-nobd" role="tabpanel"
													aria-labelledby="v-pills-atendimento-tab-nobd">
													<ul class="nav nav-tabs">
														<li class="nav-item"><a class="nav-link active"
																data-toggle="tab"
																href="#home"><strong>CONSULTA</strong></a></li>
														<li class="nav-item"><a class="nav-link" data-toggle="tab"
																href="#menu1"><strong>PRESCRIÇÕES</strong></a></li>
														<li class="nav-item"><a class="nav-link" data-toggle="tab"
																href="#menu2"><strong>EXAMES</strong></a></li>
														<li class="nav-item"><a class="nav-link " data-toggle="tab"
																href="#menu3"><strong>ATESTADOS</strong></a></li>
													</ul>
													<input id="id-prontuario" type="hidden"
														th:value="${atendimento.cidadao.prontuario.id}"> <input
														id="id-atendimento" type="hidden" th:value="${atendimento.id}">
													<span id="nome-usuario" hidden="true"
														th:text="${user.username}"></span>
													<div class="tab-content">
														<div id="home" class="tab-pane fade show active">
															<div class="card mt-3">
																<div class="card-header">
																	<div class="card-title">Sumário da história
																		clínica</div>
																</div>
																<div class="card-body">
																	<div class="row">
																		<div class="col-md-12 col-lg-12">
																			<div class="form-group">
																				<textarea class="form-control"
																					name="historiaClinica"
																					id="historia-clinica"></textarea>
																				<small id="historia-clinica-small"
																					class="form-text text-muted">Queixa
																					principal, tratamento, história
																					atual da doença,
																					história pessoal e familiar</small>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="card mt-3">
																<div class="card-header">
																	<div class="card-title">Avaliação</div>
																</div>
																<div class="card-body">
																	<div class="row">
																		<div class="col-md-2">
																			<div class="form-group">
																				<label
																					for="sinaisVitais-pressaoArterial">Pressão
																					Arterial </label><input type="text"
																					name="sinaisVitais.pressaoArterial"
																					class="form-control"
																					id="sinaisVitais-pressaoArterial"
																					placeholder="___/__"> <small
																					id="pressaoArterial-small"
																					class="form-text text-muted">mmHg</small>
																				<small
																					id="sinaisVitais.pressaoArterial-error"></small>
																			</div>
																		</div>

																		<div class="col-md-2">
																			<div class="form-group">
																				<label
																					for="sinaisVitais-frequenciaRespiratoria">Freq.
																					Respiratória</label> <input
																					type="number" class="form-control"
																					id="sinaisVitais-frequenciaRespiratoria"
																					name="sinaisVitais.frequenciaRespiratoria"
																					placeholder=""><small
																					id="sinaisVitais-frequenciaRespitatoria-small"
																					class="form-text text-muted">rpm</small>
																				<small
																					id="sinaisVitais-frequenciaRespitatoria-error"></small>
																			</div>
																		</div>

																		<div class="col-md-2">
																			<div class="form-group">
																				<label
																					for="sinaisVitais-frequenciaCardiaca">Freq.
																					Cardíaca</label> <input
																					type="number" class="form-control"
																					name="sinaisVitais.frequenciaCardiaca"
																					id="sinaisVitais-frequenciaCardiaca"
																					placeholder="">
																				<small
																					id="sinaisVitais-frequeciaCardiaca-small"
																					class="form-text text-muted">bpm</small>
																				<small
																					id="sinaisVitais-frequenciaCardiaca-error"></small>
																				<small
																					id="sinaisVitais-frequenciaCardiaca-error"></small>
																			</div>
																		</div>

																		<div class="col-md-2">
																			<div class="form-group">
																				<label
																					for="sinaisVitais-temperaturaCorporal">Temperatura</label>
																				<input type="text" class="form-control"
																					id="sinaisVitais-temperaturaCorporal"
																					placeholder="00.0"> <small
																					id="temperaturacorporal-small"
																					class="form-text text-muted">°C</small>
																				<small
																					id="sinaisVitais-temperaturaCorporal-error"></small>
																			</div>
																		</div>

																		<div class="col-md-2">
																			<div class="form-group">
																				<label
																					for="sinaisVitais-saturacaoOxigenio">Saturação
																					de O<sub>2</sub>
																				</label> <input type="number"
																					class="form-control"
																					name="sinaisVitais.saturacaoOxigenio"
																					id="sinaisVitais-saturacaoOxigenio"
																					placeholder="">
																				<small
																					id="sinaisVitais-saturacaoOxigenio-small"
																					class="form-text text-muted">%</small>
																				<small
																					id="sinaisVitais-temperaturaCorporal-error"></small>
																			</div>
																		</div>

																		<div class="col-md-3">
																			<div class="form-group">
																				<label
																					for="sinaisVitais-glicemiaCapilar">Glicemia
																					Capilar</label> <input type="number"
																					name="sinaisVitais.glicemiaCapilar"
																					class="form-control"
																					id="sinaisVitais-glicemiaCapilar"
																					placeholder="">
																				<small
																					id="sinaisVitais-glicemiaCapilar-small"
																					class="form-text text-muted">mg/dl</small>
																			</div>
																		</div>
																		<div class="col-md-4">
																			<div class="form-group">
																				<label
																					for="sinaisVitais-momentoColeta">Momento
																					coleta</label> <select
																					name="sinaisVitais.momentoColeta"
																					class="form-control form-control"
																					id="sinaisVitais-momentoColeta">
																					<option
																						th:each="momentoColeta : ${momentosColeta}"
																						th:value="${momentoColeta}"
																						th:text="${momentoColeta.nome}">
																					</option>
																				</select> <small
																					id="sinaisVitais-momentoColeta-small"
																					class="form-text text-muted"></small>
																			</div>
																		</div>
																	</div>
																	<div class="row">
																		<div class="col-md-12 col-lg-12">
																			<div class="form-group">
																				<textarea class="form-control"
																					name="avaliacao"
																					id="avaliacao"></textarea>
																				<small id="avaliacao-small"
																					class="form-text text-muted">Digite
																					na área
																					de texto acima as observações que
																					achar necessário</small>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="card mt-3">
																<div class="card-header">
																	<div class="card-title">Diagnóstico</div>
																</div>
																<div class="card-body">
																	<div class="row">
																		<div class="col-md-12">
																			<div class="form-group">
																				<label for="nome">Nota:</label>
																				<textarea id="nota"
																					class="form-control"></textarea>
																			</div>
																		</div>
																		<div class="col-md-12">
																			<div class="form-group">
																				<label for="diagnostico-cid">Cid-10:
																				</label>
																				<div class="input-group">
																					<div class="input-group-prepend">
																						<button id="button-cid"
																							type="button"
																							class="btn btn-black btn-border">
																							<i id="i-cid"
																								class="fa fa-search"></i>
																						</button>
																					</div>
																					<input id="diagnostico-cid"
																						type="text" class="form-control"
																						placeholder="Pesquisa de Cid">
																					<input type="hidden" id="id-cid">
																				</div>
																			</div>
																		</div>
																		<div class="col-md-12 text-right">
																			<button id="submit-diagnostico"
																				type="button"
																				class="btn btn-primary btn-sm">
																				<i class="fa fa-plus"></i> Adicionar
																			</button>
																		</div>
																		<div class="col-md-12 mt-3">
																			<div class="card-sub">Diagnósticos:</div>
																			<div id="div-table-diagnosticos"
																				class="table-responsive">
																				<table id="table-diagnosticos"
																					class="display table table-hover dataTable"
																					role="grid"
																					aria-describedby="basic-datatables_info"
																					style="width: 100%">
																					<thead>
																						<tr role="row">
																							<th></th>
																							<th></th>
																							<th></th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr role="row" class="odd">
																							<td></td>
																							<td></td>
																							<td></td>
																						</tr>
																					</tbody>
																				</table>
																			</div>

																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div id="menu1" class="tab-pane fade">
															<div th:replace="fragments/atendimento/info-prescricao">
															</div>
															<div th:replace="fragments/atendimento/nova-prescricao">
															</div>
															<div th:replace="fragments/atendimento/edit-prescricao">
															</div>
															<div
																th:replace="fragments/atendimento/registro-administracao-list">
															</div>
															<div
																th:replace="fragments/atendimento/novo-registro-administracao">
															</div>
														</div>
														<div id="menu2" class="tab-pane fade">
															<h3>Menu 2</h3>
															<p>Sed ut perspiciatis unde omnis iste natus error
																sit voluptatem accusantium doloremque laudantium, totam
																rem aperiam.</p>
														</div>
														<div id="menu3" class="tab-pane fade">
															<h3>Menu 3</h3>
															<p>Eaque ipsa quae ab illo inventore veritatis et
																quasi architecto beatae vitae dicta sunt explicabo.</p>
														</div>
													</div>
												</div>
												<div class="tab-pane fade" id="v-pills-historico-nobd" role="tabpanel"
													aria-labelledby="v-pills-historico-tab-nobd">
													<div th:replace="fragments/tabs-historico/tabs::tabs-historico">
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
	<div th:replace="fragments/footer :: footer-layout"></div>


	<th:block layout:fragment="my-js-files">
		<script th:src="@{/assets/pdf/jsPDF/jsPdf.js}"></script>
		<script th:src="@{/assets/pdf/jsPDF/jsPdfTable.js}"></script>
		<script th:src="@{/assets/pdf/lib/util/Line.js}"></script>
		<script th:src="@{/assets/pdf/lib/util/Extract.js}"></script>
		<script th:src="@{/assets/pdf/lib/util/PDFConfig.js}"></script>
		<script th:src="@{/assets/pdf/lib/util/PDFUtil.js}"></script>
		<script th:src="@{/assets/pdf/lib/controller/PDF.js}"></script>
		<script th:src="@{/assets/js/historico-cidadao.js}"></script>
		<script th:src="@{/assets/js/historico-pdf.js}"></script>
		<script type="text/javascript" th:inline="javascript"
			th:src="@{/assets/js/atendimento/form-atendimento.js}"></script>
		<script type="text/javascript" th:inline="javascript"
			th:src="@{/assets/js/atendimento/form-atendimento-prescricao.js}"></script>

	</th:block>
</body>

</html>