<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-modulos}" lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<body>
	<div class="main-panel" layout:fragment="main-panel">
		<div class="container">
			<div class="page-inner">
				<div id="alert"></div>
				<div class="page-header">
					<h4 class="page-title">Atendimento</h4>
				</div>
				<div class="card">
					<!-- 						<div th:switch="${edit}" class="card-header"> -->
					<!-- 							<h4 th:case="true" class="card-title">Editar Atendimento</h4> -->
					<!-- 							<h4 th:case="false" class="card-title">Adicionar a Lista de -->
					<!-- 								Atendimento</h4> -->
					<!-- 						</div> -->
					<!-- Input responsável por guardar o Id -->
					<div class="card-body">
						<div class="page-inner">
							<div class="row justify-content-center">
								<div class="col-md-12 col-lg-12 col-xl-12">
									<div class="page-divider"></div>
									<div id="info-cidadao">

									</div>
									<div class=" row">
										<div class="col-sm-3 col-md-2 col-lg-2">
											<div class="nav flex-column nav-pills nav-secondary nav-pills-no-bd"
												id="v-pills-tab-without-border" role="tablist"
												aria-orientation="vertical">
												<a class="nav-link active" id="v-pills-atendimento-tab-nobd"
													data-toggle="pill" href="#v-pills-atendimento-nobd" role="tab"
													aria-controls="v-pills-atendimento-nobd"
													aria-selected="false"><strong>ATENDIMENTO</strong></a>
												<a class="nav-link" id="v-pills-resumo-tab-nobd" data-toggle="pill"
													href="#v-pills-resumo-nobd" role="tab"
													aria-controls="v-pills-resumo-nobd"
													aria-selected="true"><strong>RESUMO</strong></a>
												<a class="nav-link" id="v-pills-historico-tab-nobd" data-toggle="pill"
													href="#v-pills-historico-nobd" role="tab"
													aria-controls="v-pills-historico-nobd"
													aria-selected="false"><strong>HISTÓRICO</strong></a>
											</div>
										</div>
										<div class="col-sm-9 col-md-10 col-lg-10">
											<div class="tab-content" id="v-pills-without-border-tabContent">
												<div class="tab-pane fade" id="v-pills-resumo-nobd" role="tabpanel"
													aria-labelledby="v-pills-resumo-tab-nobd">

													<ul class="nav nav-tabs">
														<li sec:authorize="hasAnyAuthority('MEDICO')"
															class="nav-item submenu"><a class="nav-link active show"
																data-toggle="tab"
																href="#dados-triagem"><strong>RESUMO</strong></a>
														</li>
													</ul>

													<div class="tab-content">
														<div id="dados-triagem" class="tab-pane fade show active">
															<div th:replace="fragments/atendimento/resumo-atendimento">
															</div>
														</div>
													</div>
												</div>

												<div class="tab-pane fade show active" id="v-pills-atendimento-nobd"
													role="tabpanel" aria-labelledby="v-pills-atendimento-tab-nobd">
													<ul class="nav nav-tabs">
														<li sec:authorize="hasAnyAuthority('MEDICO')"
															class="nav-item submenu"><a class="nav-link active show"
																data-toggle="tab"
																href="#home"><strong>CONSULTA</strong></a>
														</li>
														<li class="nav-item submenu"><a class="nav-link"
																data-toggle="tab"
																href="#menu1"><strong>PRESCRIÇÕES</strong></a>
														</li>
														<li class="nav-item submenu"><a class="nav-link"
																data-toggle="tab"
																href="#menu2"><strong>EXAMES</strong></a>
														</li>
														<li class="nav-item submenu"><a class="nav-link"
																data-toggle="tab"
																href="#menu3"><strong>ATESTADOS</strong></a>
														</li>
													</ul>

													<div class="tab-content">
														<div id="home" class="tab-pane fade show active">
															<div th:replace="fragments/atendimento/div-form-consulta">
															</div>
														</div>
														<div id="menu1" class="tab-pane fade">
															<div
																th:replace="fragments/atendimento/card-list-prescricoes">
															</div>
															<div
																th:replace="fragments/atendimento/card-nova-prescricao">
															</div>
															<div
																th:replace="fragments/atendimento/card-edit-prescricao">
															</div>
															<div
																th:replace="fragments/atendimento/card-list-registros-administracao">
															</div>
															<div
																th:replace="fragments/atendimento/card-novo-registro-administracao">
															</div>
														</div>
														<div id="menu2" class="tab-pane fade">
															<div th:replace="fragments/atendimento/card-list-exames">
															</div>
															<div th:replace="fragments/atendimento/card-novo-exame">
															</div>
															<div th:replace="fragments/atendimento/card-novo-resultado-exame">
															</div>
														</div>
														<div id="menu3" class="tab-pane fade">
															<div th:replace="fragments/atendimento/card-list-atestados">
															</div>
															<div th:replace="fragments/atendimento/card-novo-atestado">
															</div>
														</div>
													</div>

												</div>
												<div class="tab-pane fade" id="v-pills-historico-nobd" role="tabpanel"
													aria-labelledby="v-pills-historico-tab-nobd">
													<div th:replace="fragments/tabs-historico/tabs::tabs-historico">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer-layout"></div>


	<th:block layout:fragment="my-js-files">
		<script th:src="@{/assets/js/libs/lib-view.js}"></script>
		<script th:src="@{/assets/js/libs/lib-utils.js}"></script>
		<script th:src="@{/assets/js/libs/lib-pdf.js}"></script>
		<script th:src="@{/assets/js/docs/loadcss.js}"></script>
		<script th:src="@{/assets/js/docs/docs.js}"></script>
		<script th:src="@{/assets/js/procedimentos-atendimentoMedico.js}"></script>
		<script th:src="@{/assets/js/historico-cidadao.js}"></script>
		<!--	<script th:src="@{/assets/js/procedimentos-atendimentoMedico.js}"></script>-->
		<script th:src="@{/assets/js/historico-pdf.js}"></script>
		<script type="text/javascript" th:inline="javascript"
			th:src="@{/assets/js/atendimento/form-atendimento.js}"></script>
		<script type="text/javascript" th:inline="javascript"
			th:src="@{/assets/js/atendimento/form-atendimento-prescricao.js}"></script>
		<script type="text/javascript" th:inline="javascript"
			th:src="@{/assets/js/atendimento/form-atendimento-atestado.js}"></script>
		<script type="text/javascript" th:inline="javascript"
			th:src="@{/assets/js/usoMedicamentos/uso-medicamentos.js}"></script>
		<script type="text/javascript" th:inline="javascript"
			th:src="@{/assets/js/atendimento/form-atendimento-exame.js}"></script>
		<script type="text/javascript" th:inline="javascript"
			th:src="@{/assets/js/atendimento/form-atendimento-resultado-exame.js}"></script>
		<script type="text/javascript" th:inline="javascript"
			th:src="@{/assets/js/card-info-cidadao/card-info-cidadao.js}"></script>
		<script type="text/javascript" th:inline="javascript"
			th:src="@{/assets/js/usoMedicamentos/uso-medicamentos.js}"></script>
		<script type="text/javascript" th:inline="javascript"
			th:src="@{/assets/js/antropometria/antropometria.js}"></script>
		<script type="text/javascript" th:inline="javascript" th:src="@{/assets/js/pec/busca.js}"></script>
		<script type="text/javascript" th:inline="javascript" th:src="@{/assets/js/doenca/doenca.js}"></script>
		<script type="text/javascript" th:inline="javascript" th:src="@{/assets/js/alergia/alergia.js}"></script>
	</th:block>
</body>

</html>