<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-modulos}" lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<body>
	<div class="main-panel" layout:fragment="main-panel">
		<div class="container">
			<div class="page-inner">
				<div th:replace="fragments/alertas/alertas::success"></div>
				<div th:replace="fragments/alertas/alertas::error"></div>
				<div class="page-header">
					<h4 class="page-title">Recepção</h4>
					<ul class="breadcrumbs">
						<li class="nav-home"><a th:href="@{/}"><i class="flaticon-home"></i></a></li>
						<li class="separator"><i class="flaticon-right-arrow"></i></li>
						<li class="nav-item"><a href="">Lista
								de Atendimentos</a></li>

					</ul>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Lista de Atendimentos</h4>
							</div>
							<div class="card-body">
								<div class="card-body text-right">
									<a id="btn-atualizar-tabela" class="btn btn-light btn-sm"><i class="fa fa-sync"></i>
										Atualizar dados</a>
								</div>

								<div class="table-responsive">
									<table id="table-server" class="display table table-hover dataTable" role="grid"
										aria-describedby="basic-datatables_info">
										<thead>
											<tr role="row">
												<th class="text-center" tabindex="0" aria-controls="basic-datatables"
													rowspan="1" colspan="1" aria-sort="ascending"
													aria-label="Name: activate to sort column descending"
													style="width: 10px;"></th>
												<th class="text-center" tabindex="0" aria-controls="basic-datatables"
													rowspan="1" colspan="1" aria-sort="ascending"
													aria-label="Name: activate to sort column descending"
													style="width: 10px;"></th>
												<th class="text-center" tabindex="0" aria-controls="basic-datatables"
													rowspan="1" colspan="1"
													aria-label="Position: activate to sort column ascending"
													style="width: 217.688px;">NOME</th>
												<th class="text-center" tabindex="0" aria-controls="basic-datatables"
													rowspan="1" colspan="1"
													aria-label="Office: activate to sort column ascending"
													style="width: 150.516px;">PROF. DE DESTINO</th>
												<th class="text-center" tabindex="0" aria-controls="basic-datatables"
													rowspan="1" colspan="1"
													aria-label="Age: activate to sort column ascending"
													style="width: 31.1719px;">TIPO DE SERVIÇO</th>
												<th class="text-center" tabindex="0" aria-controls="basic-datatables"
													rowspan="1" colspan="1"
													aria-label="Start date: activate to sort column ascending"
													style="width: 81.2969px;">STATUS ATENDIMENTO</th>
												<th class="text-center" tabindex="0" aria-controls="basic-datatables"
													rowspan="1" colspan="1"
													aria-label="Salary: activate to sort column ascending"
													style="width: 155px;">AÇÕES</th>
											</tr>
										</thead>
										<tbody>
											<tr role="row" class="odd">
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td class="text-center"></td>
												<td class="text-center"></td>
												<td></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="card-action">
								<strong>Legenda - Status Atendimento:</strong><br>
								<th:block th:each="status: ${statusAtendimentos}">
									&nbsp;<span> <i class="fa fa-circle"
											th:classappend="|${status.descricao == 'Aguardando Atendimento' ? 'aguardando-atendimento' : ''} ${status.descricao == 'Em Atendimento' ? 'em-atendimento' : ''}
										${status.descricao == 'Em observação' ? 'observacao' : ''} ${status.descricao == 'Não aguardou atendimento' ? 'nao-aguardou-atendimento' : ''} ${status.descricao == 'Finalizado' ? '' : ''}|"></i>
									</span>
									<span th:text="${status.descricao}"></span>
								</th:block>
							</div>

							<div class="card-action">
								<a th:href="@{/cidadao/adicionar}" class="btn btn-success">Adicionar
									novo cidadao <i class="fa fa-user-plus"></i>
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer-layout"></div>
	</div>
	<th:block layout:fragment="my-js-files">
		<script th:src="@{/assets/js/listar-atendimento.js}"></script>
	</th:block>
</body>

</html>