<div id="card-nova-doenca" class="card">
	<div class="card-header">
		<div class="card-title"><a id="nova-doenca-voltar" data-toggle="tooltipe" data-placement="top"
				title="Voltar para tela anterior" class="btn btn-light"> <i class="fa fa-flip-horizontal fa-share"></i>
			</a> Cadastrar nova condiçao de saúde</div>
	</div>
	<div class="card-body">
		<div>
			<form id="form-status-doenca" action="/status-doenca/salvar" method="post">
				<input name="id" id="id-status-doenca" type="hidden">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="doenca-nome">Nome da Condição
								*</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<button type="button" class="btn btn-primary btn-border" id="button-nome-doenca">
										<i class="fa fa-times"></i>
									</button>
								</div>
								<input type="text" class="form-control" name="doenca.nome" id="doenca-nome"> <small
									id="doenca-nome-small" class="form-text text-muted"></small>
								<input name="doenca.id" type="hidden" id="id-doenca">
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label for="doenca-cid">Cid associado
							</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<button type="button" class="btn btn-primary btn-border" id="button-cid-doenca">
										<i class="fa fa-times"></i>
									</button>
								</div>
								<input type="text" class="form-control" name="doenca.cid" id="doenca-cid"> <small
									id="doenca-cid-small" class="form-text text-muted"></small>
								<input name="doenca.cid.id" type="hidden" id="id-cid-doenca">
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label for="nota">Notas </label>
							<textarea type="text" class="form-control" name="nota" id="nota" placeholder=""></textarea>
							<small id="nota-small" class="form-text text-muted">Digite
								neste espaço as observações ou notas
								que achar
								necessário</small>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group" data-toggle="tooltip" title="Data em que o Cidadão descobriu a doença">
							<label for="dataInicio-doenca">Data
								Início </label>
							<input type="date" class="form-control" name="dataInicio" id="dataInicio-doenca"
								placeholder=""> <small id="dataInicio-small" class="form-text text-muted"></small>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group" data-toggle="tooltip"
							title="Data em que a condição do Cidadão foi resolvida">
							<label for="dataFim-doenca">Data Fim
							</label> <input type="date" class="form-control" name="dataFim" id="dataFim-doenca"
								placeholder="">
							<small id="dataFimDoenca-small" class="form-text text-muted"></small>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="form-label">Situação
								*</label>
							<div id="situacaDoenca" class="selectgroup w-100">
								<th:block th:each="situacaoCondicao : ${situacoesCondicao}">
									<label class="selectgroup-item" data-toggle="tooltip"
										th:title="${situacaoCondicao.descricao}">
										<input type="radio" name="situacaoCondicao" th:value="${situacaoCondicao}"
											class="selectgroup-input"><span class="selectgroup-button"
											th:text="${situacaoCondicao.nome}"></span>
									</label>
								</th:block>
							</div>
						</div>
					</div>
				</div>
				<div class="card-action">
					<button type="submit" class="btn btn-primary">
						Salvar</button>
					<button onclick="fechaFormularioDoenca()" type="button" class="btn btn-warning btn-border">
						Cancelar</button>
				</div>
			</form>
		</div>
	</div>
</div>