<div id="card-list-doencas" class="card">
	<div class="card-header">
		<div class="col-12 col-lg-12 col-xl-12">
			<div class="row align-items-center">
				<div class="col">
					<div class="card-title"> Outras condições de saúde</div>
				</div>
				<div class="col-auto">
					<button type="button" onclick="exibeFormularioDoenca()" class="btn btn-primary btn-sm">
						<i class="fa fa-plus"></i> Nova condição
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table id="table-doencas" class="display table table-hover" cellspacing="0" width="100%">
				<thead>
					<tr role="row">
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr role="row" class="odd">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>