<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-login}">
<head>


<meta charset="utf-8">
<title>SGH - Esqueceu sua senha?</title>
</head>

<body>

	<div layout:fragment="content" class="background-image">
		<div class="login-page">

			<div class="form">
				<th:block th:if="${param.error}">
					<div class="alert alert-danger">
						<strong>Erro!</strong><span> Usuário e/ou senha inválidos!</span>
					</div>
				</th:block>

				<th:block th:if="${erro}">
					<div class="alert alert-danger">
						<strong>Erro!</strong><span th:text="${erro}"></span>
					</div>
				</th:block>

				<th:block th:if="${sucesso}">
					<div class="alert alert-success">
						<strong>Sucesso! </strong><span th:text="${sucesso}"></span>
					</div>
				</th:block>

				<form th:action="@{/forgetPassword}" method="post">
					<input type="text" name="email"
						placeholder="Digite aqui o seu email" required="required" />
					<button type="submit">Enviar</button>
					<p class="message">
						Tudo certo? <a th:href="@{/entrar}">Entrar</a>
					</p>
				</form>
			</div>
		</div>


	</div>
</body>
</html>