<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-login}">
<head>
<meta charset="utf-8">
<title>SGH - Nova senha</title>
</head>

<body>
	<div layout:fragment="content" class="background-image">
		<div class="login-page">

			<div class="form">
				<th:block th:if="${param.error}">
					<div class="alert alert-danger">
						<strong>Erro!</strong><span> Usuário e/ou senha inválidos!</span>
					</div>
				</th:block>

				<th:block th:if="${erro}">
					<div class="alert alert-danger">
						<strong>Erro!</strong><span th:text="${erro}"></span>
					</div>
				</th:block>

				<th:block th:if="${successo}">
					<div class="alert alert-success">
						<strong>Erro!</strong><span th:text="${sucesso}"></span>
					</div>
				</th:block>

				<th:block  th:if="${mostrar}">
				<form class="login-form" th:action="@{/update-password}"
					method="post">
					<input id="password" minlength="8" required type="password"
						placeholder="Digite aqui a sua nova senha" name="password" /> <input
						id="confirm_password" type="password"
						placeholder="Digite novamente para confirmar" required="required" />
					<button type="submit">Salvar</button>
					<p class="message">
						Tudo certo? <a th:href="@{/entrar}">Entrar</a>
					</p>
				</form>
				</th:block>
			</div>
		</div>


	</div>
</body>
</html>