<div class="card">
	<div class="card-header">
		<div class="card-title">Medicamentos em uso</div>
	</div>
	<div class="card-body">
		<form id="form-uso-medicamento" method="post" action="/uso-medicamento/salvar">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="medicamento-uso">Medicamento</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<button id="button-medicamento-uso" type="button" class="btn btn-black btn-border">
									<i id="i-medicamento-uso" class="fa fa-search"></i>
								</button>
							</div>
							<input type="text" name="medicamento" class="form-control" id="medicamento-uso"
								placeholder="Pesquisa de medicamentos">
							<small id="medicamento-small" class="form-text text-muted"></small>
							<input id="id-medicamento-uso" type="hidden">
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label for="nota-uso-medicamento">Posologia
							/
							Notas</label>
						<textarea id="nota-uso-medicamento" class="form-control"></textarea>
					</div>
				</div>


				<div class="col-md-6">
					<div class="form-group">
						<label for="usoContinuo">Uso
							contínuo?</label><br>
						<input id="usoContinuo" type='checkbox' data-toggle='toggle' data-on='Sim' data-off='Não'>
						<small id="usoContinuo-small" class="form-text text-muted"></small>
					</div>
				</div>
				<div class="col-md-12 text-left mt-3">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-plus"></i> Adicionar
					</button>
				</div>
			</div>
		</form>
		<br>
		<div id="medicamentos-uso-continuo">
			<div class="card-sub">Medicamentos de uso
				contínuo:</div>
			<ul id="uso-continuo-lista" class="list-group list-group-bordered">
			</ul>
		</div>
		<div id="medicamentos-uso">
			<div class="card-sub">Medicamentos em uso:</div>
			<ul id="uso-lista" class="list-group list-group-bordered">
			</ul>

		</div>

	</div>
</div>