<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8">
</head>

<body>
	<div class="logo-header" data-background-color="white">

		<img
			th:src="@{/assets/img/logosgh.png}" width="100px"
			class="navbar-brand">
	</div>
	<!-- End Logo Header -->

	<!-- Navbar Header -->
	<nav class="navbar navbar-header navbar-expand-lg"
		data-background-color="blue2">
		<div class="container-fluid"></div>
	</nav>


	<h2>
		Olá <span th:text="${profissional.firstname}"></span>
	</h2>
	<br>
	<p>Verificamos que você solicitou a redefinição da senha para o Sistema
		de Gestão Hospitalar. Clique no link abaixo para verificarmos o seu
		e-mail e para que possamos redefinir a sua senha.</p>

	<div class="col-md-12">
		<div class="card card-stats card-info card-round">
			<div class="card-body">
				<div class="row">
					<div class="col-7 col-stats">
						<div class="numbers">
							<a th:href="|${url}|"> <span> Redefinir senha</span>
							</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container-fluid">
			<nav class="pull-left"></nav>
			<div class="copyright ml-auto">Sistema de Gestão Hospitalar</div>
		</div>
	</footer>
</body>
</html>