<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-admin}" lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<body>
	<div class="main-panel" layout:fragment="main-panel">
		<div class="container">
			<div class="page-inner">

				<!-- DIV de Alerta de Sucessos -->
				<div class="col-md-12" th:if="${sucesso}">
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<strong>Sucesso!</strong><a th:text="${sucesso}"></a>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>

				<!-- DIV de Alerta -->
				<div class="col-md-12" th:if="${warning}">
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
						<strong>Atenção!</strong><a th:text="${warning}"></a>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>


				<!-- DIV de Alerta de Erros -->
				<div class="col-md-12" th:if="${erro}">
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<strong>Erro!</strong> <a th:text="${erro}"></a>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
				<div class="page-header">
					<h4 class="page-title">Produção Ambulatorial</h4>
					<ul class="breadcrumbs">
						<li class="separator"></li>
						<li class="nav-item"><a th:href="@{#}">Detalhes do Arquivo</a></li>
					</ul>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-title">Detalhes do arquivo</div>
							</div>
							<div class="card-footer">
								<div class="row">
									<div class="col-sm-7 col-md-7 mb-3 mb-md-0 transfer-to">
										<h5 class="sub" th:text="${arquivoBPA.nomeArquivo}"></h5>
										<div class="account-transfer">
											<div><span>Órgão responsável: </span><span
													th:text="${arquivoBPA.orgaoResponsavel}"></span></div>
											<div><span>Data e hora da geração: </span><span
													th:text="${#temporals.format(arquivoBPA.horaGeracao,'dd-MM-yyyy hh:mm:ss')}"></span>
											</div>
											<div><span>Competência: </span><span
													th:text="${arquivoBPA.competencia}"></span></div>
											<div><span>Qtd. de folhas : </span><span
													th:text="${arquivoBPA.qtdFolhas}"></span></div>
											<div><span>Registros gravados: </span><span
													th:text="${arquivoBPA.qtdLinhas}"></span></div>
											<div><span>Campo controle: </span><span
													th:text="${arquivoBPA.controleDominio}"></span></div>
											<div><span>Versão do sistema: </span><span
													th:text="${arquivoBPA.versaoSistema}"></span></div>
										</div>
									</div>
									<div class="col-sm-5 col-md-5 transfer-total">
										<h5 class="sub">Valor total</h5>
										<div class="price" th:inline="text">R$ [[${arquivoBPA.valorTotal}]]</div>
									</div>
								</div>
							</div>
							<div class="card-action">
								<a th:href="@{/bpa/download/{id} (id=${arquivoBPA.id})}" class="btn btn-success">Fazer
									download <i class="fas fa-download"></i>
								</a>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="my-js-files">
		<script th:src="@{/assets/js/previa/previa.js}"></script>
	</th:block>
</body>

</html>