<div class="card" id="card-procedimento">
	<div class="card-header">
		<div class="card-title">Procedimentos realizados</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label for="nome">Adicionar
						Procedimentos:</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<button id="button-procedimento-geral" type="button" class="btn btn-black btn-border">
								<i id="i-procedimento-geral" class="fa fa-search"></i>
							</button>
						</div>
						<input id="procedimentos-geral" type="text" class="form-control"
							placeholder="Pesquisa de procedimentos">
						<input type="hidden" id="id-procedimento-geral"> <input type="hidden" id="nome-procedimento">
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<label for="qtd-procedimento-geral">Quantidade:
					</label> <input id="qtd-procedimento-geral" type="number" class="form-control">
				</div>
			</div>
			<div class="col-md-12 text-left mt-3">
				<button id="submit-procedimento" type="button" class="btn btn-primary">
					<i class="fa fa-plus"></i> Adicionar
				</button>
			</div>
			<div class="col-md-12 mt-3">
				<div class="card-sub">Procedimentos realizados:
				</div>
				<div id="div-table-procedimentos" class="table-responsive">
					<table id="table-procedimentos" class="display table table-hover dataTable" role="grid"
						aria-describedby="basic-datatables_info" style="width: 100%">
						<thead>
							<tr role="row">
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr role="row" class="odd">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>