<div class="card" id="card-cid-procedimento">
	<div class="card-header">
		<div class="card-title">
			<a id="cid-procedimento-voltar" data-toggle="tooltipe"
				data-placement="top" title="Voltar para tela anterior"
				class="btn btn-light"> <i class="fa fa-flip-horizontal fa-share"></i>
			</a>Cid Procedimento
		</div>
	</div>
	<div class="card-body">

		<div id="div-cids">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="cids">Adicionar CID Relacionado:</label>
						<div class="row" id="cid-procedimento">
							<select id="optionselect-cid" class="form-control form-control">
								<option value="-1">--- Clique aqui para selecionar ---</option>
							</select>
						</div>
						<small id="cid-procedimento-small-exame"
							class="form-text text-muted">Selecione o CID para
							adicionar ao Procedimento</small>
					</div>
				</div>
			</div>
		</div>
		<div class="text-right">
			<button onclick="fechaFormularioCidProcedimento()" type="button"
				class="btn btn-warning btn-sm">Voltar</button>
				<button onclick="adicionarCidAoAtendimentoProcedimento()" type="button"
				class="btn btn-primary btn-sm">Salvar</button>
		</div>
	</div>
</div>