<div id="card-list-alergias" class="card">
	<div class="card-header">
		<div class="card-title"> Alergias</div>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table id="table-alergias" class="display table table-hover dataTable" role="grid"
				aria-describedby="basic-datatables_info" style="width: 100%">
				<thead>
					<tr role="row">
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr role="row" class="odd">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<div class="text-right">
				<button type="button" onclick="exibeFormularioAlergia()" class="btn btn-primary btn-sm">
					<i class="fa fa-plus"></i> Cadastrar nova alergia
				</button>
			</div>
		</div>
	</div>
</div>