<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-admin}" lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<body>
	<div class="main-panel" layout:fragment="main-panel">
		<div class="container">
			<div class="page-inner">

				<!-- DIV de Alerta de Sucessos -->
				<div class="col-md-12" th:if="${sucesso}">
					<div class="alert alert-success alert-dismissible fade show"
						role="alert">
						<strong>Sucesso!</strong><a th:text="${sucesso}"></a>
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>

				<!-- DIV de Alerta de Erros -->
				<div class="col-md-12" th:if="${erro}">
					<div class="alert alert-danger alert-dismissible fade show"
						role="alert">
						<strong>Erro!</strong> <a th:text="${erro}"></a>
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
				<div class="page-header">
					<h4 class="page-title">Administração</h4>
					<ul class="breadcrumbs">
						<li class="nav-home"><i class="flaticon-home"></i></li>
						<li class="separator"><i class="flaticon-right-arrow"></i></li>
						<li class="nav-item"><a th:href="@{#}">Consultas</a></li>
						<li class="separator"><i class="flaticon-right-arrow"></i></li>
						<li class="nav-item"><a
							th:href="@{/administracao/buscar-atendimento}">Atendimentos</a></li>
					</ul>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-title">Pesquisar Atendimentos</div>
							</div>

							<div class="card-body">
								<!-- Botões para escolha do Parâmetro de Pesquisa -->
								<div class="form-group">
									<strong class="form-text text-muted">Escolha o
										parâmetro de pesquisa:
										<button class="btn btn-primary btn-xs" id="pesquisa-data">
											<i class="fa fa-filter"></i> DATA
										</button>
										<button class="btn btn-primary btn-border btn-xs"
											id="pesquisa-periodo">
											<i class="fa fa-filter"></i> PERÍODO
										</button>
									</strong>
								</div>
								<hr>
								<!-- Fim dos Botões para escolha do Parâmetro de Pesquisa -->
								<!-- Formulário para pesquisa por data -->
								<form th:action="@{/administracao/buscar-data}" method="get">
									<div class="row" id="form-pesquisa-data">
										<div class="col-md-3">
											<div class="form-group">
												<label for="data">Data</label> <input name="data"
													type="date" class="form-control" id="data"><small
													id="small-data" class="form-text text-muted">Selecione
													a data para pesquisa</small>
											</div>
										</div>
										<div class="col-md-2 ">
											<div class="form-group">
												<label for="search">Pesquisar</label>
												<div>
													<button type="submit" id="button-pesquisadata"
														class="btn btn-icon btn-round btn-primary">
														<i id="fa-button" class="fa fa-search"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</form>
								<!--Fim do Formulário para pesquisa por Data -->

								<!-- Formulário para pesquisa por Período -->
								<form th:action="@{/administracao/buscar-periodo}" method="get">
									<div class="row" id="form-pesquisa-periodo">
										<div class="col-md-3">
											<div class="form-group">
												<label for="data">Data Inicial</label> <input name="dataInicial" type="date"
													class="form-control" id="dataInicial"><small
													id="small-dataInicial" class="form-text text-muted">Selecione
													a data Inicial</small>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label for="data">Data Final</label> <input name="dataFinal" type="date"
													class="form-control" id="dataFinal"><small
													id="small-dataFinal" class="form-text text-muted">Selecione
													a data Final</small>
											</div>
										</div>
										<div class="col-md-2 ">
											<div class="form-group">
												<label for="search">Pesquisar</label>
												<div>
													<button type="submit" id="button-pesquisaperiodo"
														class="btn btn-icon btn-round btn-primary">
														<i id="fa-button" class="fa fa-search"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</form>
								<!--Fim do Formulário para pesquisa por Periodo -->
								<hr>

								<div class="form-group">
									<strong class="form-text text-muted">Listagem dos
										Atendimentos: </strong>
								</div>
								<div class="table-responsive">
									<table id="basic-datatables"
										class="display table table table-hover">
										<thead>
											<tr>
												<th>CIDADÃO</th>
												<th>NÚMERO REGISTRO</th>
												<th>AÇÕES</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="guiaAtendimento : ${guiasAtendimentos}">
												<td th:text="${guiaAtendimento.cidadao.nome}">
												</td><td th:text="${guiaAtendimento.numeroregistro}"></td>
												<td><a class="btn btn-primary btn-sm"
													th:href="@{/administracao/atendimento-detalhe/{id} (id = ${guiaAtendimento.id})}">Detalhes</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container-fluid">
			<nav class="pull-left">
				<th:block th:each="estabelecimento : ${estabelecimento}">
					<span class="text-primary" th:text="${estabelecimento.nome}"></span>
				</th:block>
			</nav>
			<div class="copyright ml-auto">Sistema de Gestão Hospitalar,
				2020.</div>
		</div>
	</footer>
</body>

</html>