<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-recepcao}">
<head>
<meta charset="utf-8">
<title>SGH - Adicionar Paciente</title>
</head>

<body>

	<div layout:fragment="main-panel>

		<div class="main-panel">
			<div class="content">

				<!-- DIV de Alerta de Sucessos -->
				<div class="col-md-12" th:if="${sucesso}">
					<div class="alert alert-success alert-dismissible fade show"
						role="alert">
						<strong>Sucesso!</strong><a th:text="${sucesso}"></a>
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>

				<!-- DIV de Alerta de Erros -->
				<div class="col-md-12" th:if="${erro}">
					<div class="alert alert-danger alert-dismissible fade show"
						role="alert">
						<strong>Erro!</strong> <a th:text="${erro}"></a>
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
				<div class="page-header">
					<ul class="breadcrumbs">
						<li class="nav-home"><a th:href="@{/recepcao/add}"> <i
								class="flaticon-home"></i>
						</a></li>
						<li class="separator"><i class="flaticon-right-arrow"></i></li>
						<li class="nav-item"><a th:href="@{#}">Adicionar Cidadão</a></li>
					</ul>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<form method="post" th:action="@{/recepcao/saveboletim}"
								th:object="${boletim}">
								<div class="card-header">
									<div class="card-title">Adicionar Cidadão a Fila de
										Atendimento</div>
								</div>
								<div class="card-body">

									<!-- Input responsável por guardar o ID -->
									<input id="id" name="id" type="hidden" th:field="*{id}"
										th:value="*{id}" />

									<!-- Input responsável por guardar o Paciente -->
									<input name="" type="hidden" th:field="*{paciente}"
										th:value="*{paciente}" />

									<!-- div reponsável em mostrar os erros -->
									<div class="form-group row">
										<div class="col-sm-12 mb-3 mb-sm-0">
											<div class="alert alert-danger alert-dismissible fade show"
												role="alert" th:if="${#fields.hasAnyErrors()}">

												<button type="button" class="close" data-dismiss="alert"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>

												<div th:each="detailedError : ${#fields.detailedErrors()}">
													<strong th:text="${detailedError.message}"> </strong>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="card card-stats card-round">
											<div class="card-body ">
												<div class="row align-items-center">
													<div class="col-icon">
														<div
															class="icon-big text-center icon-primary bubble-shadow-small">
															<span th:if="${boletim.paciente.sexo == 'M'}"><i
																class="fa fa-male"></i></span> <span
																th:if="${boletim.paciente.sexo == 'F'}"><i
																class="fa fa-female"></i></span>
														</div>
													</div>
													<div class="col col-stats ml-3 ml-sm-0">
														<div class="numbers">
															<h4 class="card-title" th:text="${boletim.paciente.nome}"></h4>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<fieldset class="fieldset">
										<legend class="legend">Dados complementares</legend>
										<div class="row">
											<div class="col-md-10"
												th:classappend="${#fields.hasErrors('responsavel')}? 'has-error'">
												<div class="form-group">
													<label for="responsavel">Acompanhante</label> <input
														th:field="*{responsavel}" type="text" class="form-control"
														id="responsavel" placeholder="Responsável pelo cidadão">
													<small id="cns" class="form-text text-muted"></small>

												</div>
											</div>
										</div>
									</fieldset>
									<br>

									<fieldset class="fieldset">
										<legend class="legend">Profissional de Destino</legend>
										<div class="col-md-12">
											<div class="form-group">
												<label for="nome">Profissional de Destino:</label><select
													th:field="*{profissional}"
													class="form-control form-control">
													<option selected value="-1">Selecione um
														Enfermeiro</option>
													<option th:each="profissional : ${profissionais}"
														th:value="${profissional.id}"
														th:text="${profissional.nm_prof}"></option>
												</select> <small id="cns" class="form-text text-muted"></small>

											</div>
										</div>
									</fieldset>

								</div>
								<div class="card-action">
									<button type="submit" class="btn btn-success">
										Concluir</button>
									<button type="reset" class="btn btn-danger">Cancelar</button>
								</div>

							</form>


						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>