<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-modulos}" lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<body>
	<!-- Sidebar Módulos - Recepção -->
	<div layout:fragment="sidebar" class="sidebar sidebar-style-2">
		<div class="sidebar-wrapper scrollbar scrollbar-inner">
			<div class="sidebar-content">
				<ul class="nav nav-primary">
					<li class="nav-item"><a data-toggle="collapse"
						href="#dashboard" class="collapsed" aria-expanded="false"> <img
							alt="" width="40" th:src="@{/assets/img/person-male.png}">
							<span th:text="${user.firstname}" class="low"></span><span
							class="type-user" th:text="${user.tipoprofissional}"></span> <span
							class="caret"></span>
					</a>
						<div class="collapse" id="dashboard">
							<ul class="nav nav-collapse">
								<li><a href="../demo1/index.html"> <span
										class="sub-item">Meu Perfil</span>
								</a></li>
							</ul>
						</div></li>
					<li class="nav-section"><span class="sidebar-mini-icon">
							<i class="fa fa-ellipsis-h"></i>
					</span>
						<h4 class="text-section">Ações</h4></li>


					<li class="nav-item" th:classappend="${navItem1} ? active : ''"><a
						th:href="@{/recepcao/adicionar-cidadao}"> <i
							class="fas fa-user-plus"></i>
							<p>Adicionar Cidadão</p> <span class="caret"></span>
					</a></li>


					<li class="nav-item" th:classappend="${navItem2} ? active : ''"><a
						th:href="@{/recepcao/listar-status}"> <i class="fa fa-users"></i>
							<p>Fila de Atendimento</p>
					</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- End Sidebar -->
	<div class="main-panel" layout:fragment="main-panel">
		<div class="container">
			<div class="page-inner">
				<div class="alert alert-success alert-dismissible fade show"
					role="alert" th:if="${success}">
					<strong>Sucesso!</strong> <span th:text="${success}"></span>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="page-header">
					<h4 class="page-title">Recepção</h4>
					<ul class="breadcrumbs">
						<li class="nav-home"><a
							th:href="@{/recepcao/adicionar-cidadao}"><i
								class="flaticon-home"></i></a></li>
						<li class="separator"><i class="flaticon-right-arrow"></i></li>
						<li class="nav-item"><a th:href="@{/recepcao/listar-status}">Lista
								de Atendimento</a></li>

					</ul>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Fila de Atendimento</h4>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table id="basic-datatables"
										class="display table table-hover dataTable" role="grid"
										aria-describedby="basic-datatables_info">
										<thead>
											<tr role="row">
												<th class="text-center" tabindex="0" aria-controls="basic-datatables"
													rowspan="1" colspan="1" aria-sort="ascending"
													aria-label="Name: activate to sort column descending"
													style="width: 10px;"></th>
												<th class="text-center" tabindex="0" aria-controls="basic-datatables"
													rowspan="1" colspan="1"
													aria-label="Position: activate to sort column ascending"
													style="width: 217.688px;">NOME</th>
												<th class="text-center" tabindex="0" aria-controls="basic-datatables"
													rowspan="1" colspan="1"
													aria-label="Office: activate to sort column ascending"
													style="width: 150.516px;">PROF. DE DESTINO</th>
												<th class="text-center" tabindex="0" aria-controls="basic-datatables"
													rowspan="1" colspan="1"
													aria-label="Age: activate to sort column ascending"
													style="width: 31.1719px;">TIPO DE SERVIÇO</th>
												<th class="text-center" tabindex="0" aria-controls="basic-datatables"
													rowspan="1" colspan="1"
													aria-label="Start date: activate to sort column ascending"
													style="width: 81.2969px;">STATUS ATENDIMENTO</th>
												<th class="text-center" tabindex="0" aria-controls="basic-datatables"
													rowspan="1" colspan="1"
													aria-label="Salary: activate to sort column ascending"
													style="width: 155px;">AÇÕES</th>
											</tr>
										</thead>
										<tfoot>
											<tr th:if="${guiasAtendimento.size()} > 10">
												<th class="text-center" rowspan="1" colspan="1"></th>
												<th class="text-center" rowspan="1" colspan="1">NOME</th>
												<th class="text-center" rowspan="1" colspan="1">PROF. DE DESTINO</th>
												<th class="text-center" rowspan="1" colspan="1">TIPO DE SERVIÇO</th>
												<th class="text-center" rowspan="1" colspan="1">STATUS ATENDIMENTO</th>
												<th class="text-center" rowspan="1" colspan="1">AÇÕES</th>
											</tr>
										</tfoot>
										<tbody>
											<tr role="row" class="odd"
												th:each="guiaAtendimento : ${guiasAtendimento}">
												<td><span
													th:if="${guiaAtendimento.cidadao.sexo == 'M'}"><i
														class="fa fa-male"></i></span> <span
													th:if="${guiaAtendimento.cidadao.sexo == 'F'}"><i
														class="fa fa-female"></i></span></td>
												<td th:text="${guiaAtendimento.cidadao.nome}"></td>
												<td th:text="${guiaAtendimento.profissionaldestino.nome}"></td>
												<td class="text-center"><span class="badge badge-info"
													th:text="${guiaAtendimento.tipoServico.resumo}"></span></td>
												<td class="text-center"><i class="fa fa-circle"
													th:classappend="|${guiaAtendimento.statusAtendimento.descricao == 'Aguardando Atendimento' ? 'aguardando-atendimento' : ''} ${guiaAtendimento.statusAtendimento.descricao == 'Em Atendimento' ? 'em-atendimento' : ''}
										${guiaAtendimento.statusAtendimento.descricao == 'Paciente em observação' ? 'observacao' : ''} ${guiaAtendimento.statusAtendimento.descricao == 'Não aguardou atendimento' ? 'nao-aguardou-atendimento' : ''} ${guiaAtendimento.statusAtendimento.descricao == 'Finalizado' ? '' : ''}|"></i></td>
												<td><a class="btn btn-primary btn-sm"
													th:href="@{/recepcao/editar/{id} (id=${guiaAtendimento.id})}">Editar</a>
													<a class="btn btn-primary btn-sm"
													th:href="@{/recepcao/detalhar/{id} (id=${guiaAtendimento.id})}">Detalhes</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="card-action">
								<strong>Legenda - Status Atendimento:</strong><br>
								<th:block th:each="statusAtendimento : ${statusAtendimentos}">
									&nbsp;<span> <i class="fa fa-circle"
										th:classappend="|${statusAtendimento.descricao == 'Aguardando Atendimento' ? 'aguardando-atendimento' : ''} ${statusAtendimento.descricao == 'Em Atendimento' ? 'em-atendimento' : ''}
										${statusAtendimento.descricao == 'Paciente em observação' ? 'observacao' : ''} ${statusAtendimento.descricao == 'Não aguardou atendimento' ? 'nao-aguardou-atendimento' : ''} ${statusAtendimento.descricao == 'Finalizado' ? '' : ''}|"></i>
									</span>
									<span th:text="${statusAtendimento.descricao}"></span>
								</th:block>
							</div>

							<div class="card-action">
								<a th:href="@{/recepcao/adicionar-cidadao}"
									class="btn btn-success">Adicionar novo cidadao <i
									class="fa fa-user-plus"></i></a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<footer class="footer">
			<div class="container-fluid">
				<nav class="pull-left">
					<th:block th:each="estabelecimento : ${estabelecimento}">
						<span class="text-primary" th:text="${estabelecimento.nome}"></span>
					</th:block>
				</nav>
				<div class="copyright ml-auto">Sistema de Gestão Hospitalar,
					2020.</div>
			</div>
		</footer>
	</div>
</body>

</html>