<!DOCTYPE html>
<html layout:decorate="~{/layouts/layout-modulos}" lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<body>
	<div class="main-panel" layout:fragment="main-panel">
		<div class="container">
			<div class="page-inner">
				<div class="page-header">
					<h4 class="page-title">Recepção</h4>
					<ul class="breadcrumbs">
						<li class="nav-home"><a
							th:href="@{/recepcao/adicionar-cidadao}"><i
								class="flaticon-home"></i></a></li>
						<li class="separator"><i class="flaticon-right-arrow"></i></li>
						<li class="nav-item"><a th:href="@{/recepcao/listar-status}">Fila
								de Atendimento</a></li>

					</ul>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Fila de Atendimento</h4>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table id="basic-datatables"
										class="display table table-striped table-hover">
										<thead>
											<tr>
												<th></th>
												<th>Nome</th>
												<th>CNS</th>
												<th>Profissional de Destino</th>
												<th style="width: 150px;">Ações</th>
											</tr>
										</thead>
										<tfoot>
											<tr th:if="${guiasAtendimento.size()} > 5">
												<th></th>
												<th>Nome</th>
												<th>CNS</th>
												<th>Profissional de Destino</th>
												<th>Ações</th>
											</tr>
										</tfoot>
										<tbody>
											<tr th:each="guiaAtendimento : ${guiasAtendimento}">
												<td><span
													th:if="${guiaAtendimento.cidadao.sexo == 'M'}"><i
														class="fa fa-male"></i></span> <span
													th:if="${guiaAtendimento.cidadao.sexo == 'F'}"><i
														class="fa fa-female"></i></span></td>
												<td th:text="${guiaAtendimento.cidadao.nome}"></td>
												<td th:text="${guiaAtendimento.cidadao.cns}"></td>
												<td th:text="${guiaAtendimento.profissionaldestino.nome}"></td>
												<td><a class="btn btn-primary btn-sm"
													th:href="@{/recepcao/editar/{id} (id=${guiaAtendimento.id})}">Editar</a>
													<a class="btn btn-primary btn-sm"
													th:href="@{/recepcao/detalhar/{id} (id=${guiaAtendimento.id})}">Detalhes</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="card-action">
								<a th:href="@{/recepcao/adicionar-cidadao}"
									class="btn btn-success">Adicionar novo cidadao <i
									class="fa fa-user-plus"></i></a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<footer class="footer">
			<div class="container-fluid">
				<nav class="pull-left">
					<th:block th:each="estabelecimento : ${estabelecimento}">
						<span class="text-primary" th:text="${estabelecimento.nome}"></span>
					</th:block>
				</nav>
				<div class="copyright ml-auto">Sistema de Gestão Hospitalar,
					2020.</div>
			</div>
		</footer>
	</div>
</body>

</html>